{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

      <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
        <div class="prisoner-profile-breadcrumbs">

    <div class="prisoner-profile-breadcrumbs__breadcrumbs">
      <div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/v15/2/profile#tab-6">Eku, Tyler</a></li>
        </ol>
        </div>
    </div>

  </div>

</div>
    </div>

    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l govuk-!-padding-bottom-4">Tyler Eku's employability skills</h1>

      <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">

      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

      <ul class="moj-pagination__list">
      <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="#">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
      </li>

      <li class="moj-pagination__item moj-pagination__item--active">1</li>

      <li class="moj-pagination__item"><a class="moj-pagination__link" href="#">2</a></li>

      <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> set of pages</span></a>
      </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>29</b> results</p>
      </nav>

        <table class="govuk-table" data-module="moj-sortable-table" >
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="none">Skill</th>
      <th scope="col" class="govuk-table__header">Level</th>
      <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Assessed on</th>
      <th scope="col" class="govuk-table__header">Assessed by</th>
      <th scope="col" class="govuk-table__header">Comment</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Adaptability</td>
      <td class="govuk-table__cell">2 - Minimal demonstration - Limited evidence provided</td>
      <td class="govuk-table__cell">21/10/2021</td>
      <td class="govuk-table__cell">Joe Bloggs</td>
      <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Communication</td>
      <td class="govuk-table__cell">2 - Minimal demonstration - Limited evidence provided</td>
      <td class="govuk-table__cell">21/10/2021</td>
      <td class="govuk-table__cell">Joe Bloggs</td>
      <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Adaptability</td>
      <td class="govuk-table__cell">1 - Not demonstrated - No evidence provided</th>
      <td class="govuk-table__cell">01/09/2021</td>
      <td class="govuk-table__cell">Sarah Smith</td>
      <td class="govuk-table__cell">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</td>
    </tr>
  </tbody>
</table>

<nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">

<p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

<ul class="moj-pagination__list">
<li class="moj-pagination__item  moj-pagination__item--prev">
<a class="moj-pagination__link" href="#">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
</li>

<li class="moj-pagination__item moj-pagination__item--active">1</li>

<li class="moj-pagination__item"><a class="moj-pagination__link" href="#">2</a></li>

<li class="moj-pagination__item  moj-pagination__item--next">
<a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> set of pages</span></a>
</li>
</ul>
<p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>29</b> results</p>
</nav>

<details class="govuk-details" data-module="govuk-details">
<summary class="govuk-details__summary">
<span class="govuk-details__summary-text">
What do the employability skills mean?
</span>
</summary>
<div class="govuk-details__text">
<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Adaptability
</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
  <li>acknowledging and accepting change</li>
  <li>adjusting to a change in conditions or routine</li>
  <li>being flexible to avoid setbacks</li>
</ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Commmunication
</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
  <li>speaking to people in an appropriate way</li>
  <li>listening to others</li>
  <li>taking part in group discussions</li>
  <li>explaining their point of view in a respectful way</li>
</ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Creativity
</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
  <li>using their imagination and own ideas to create something</li>
  <li>thinking about a task or a problem in a creative way</li>
  <li>seeing the potential in something</li>
</ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Initiative
</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
  <li>doing something independently without being told</li>
  <li>finding out something by themselves</li>
  <li>helping others without being asked</li>
</ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Organisation
</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
  <li>working efficiently to plan or complete a task</li>
  <li>meeting deadlines</li>
  <li>managing their work and equipment</li>
</ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Planning
</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
  <li>thinking about how their actions and decisions could impact others</li>
  <li>setting goals to achieve a task or for personal development</li>
  <li>understanding how to approach a task and complete it</li>
  <li>estimating time and resources needed to complete something</li>
</ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Problem solving
</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
  <li>identifying a problem</li>
  <li>creating ideas to solve a problem</li>
  <li>choosing and completing a solution</li>
  <li>understanding if the solution was successful</li>
</ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Reliability and timekeeping
</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
  <li>arriving and leaving on time</li>
  <li>doing what they said they will do and when</li>
  <li>being trusted to complete a task and manage own time</li>
  <li>attending any sessions and appointments regularly</li>
</ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Team working
</dt>
<dd class="govuk-summary-list__value">
<ul class="govuk-list govuk-list--bullet">
  <li>working well with, and helping others</li>
  <li>sharing responsibility</li>
  <li>discussing and agreeing actions to complete</li>
  <li>compromising and managing different opinions</li>
</ul>
</dd>
</div>

</dl>
</div>
</details>




        <p class="govuk-body">
        <a href="/v15/2/profile#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
          Return to prisoner profile
        </a>
        </p>

        <!-- <p class="govuk-body">
        <a href="https://docs.google.com/document/d/11fHM5-jdHOqkEH4m2F5Rgalhh--tHAcYm50IyDFJ-aM/edit?usp=sharing" class="govuk-link govuk-link--no-visited-state" target="_blank" data-test="recent-search-link">
          Give feedback on this page (opens in a new tab)
        </a>
        </p> -->

        <div class="app-contact-panel">

  <h2 class="app-contact-panel__heading">This is a new page
  </h2>

  <p class="govuk-body app-contact-panel__body">
  <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://docs.google.com/document/d/11fHM5-jdHOqkEH4m2F5Rgalhh--tHAcYm50IyDFJ-aM/edit?usp=sharing"> Give feedback to help us improve it (opens in a new tab)</a>.
  </p>
  </div>
      </div>
  </div>

  <div class="feedback-banner" data-test="feedback-banner">
  <a href="#" class="govuk-link govuk-link--inverse" target="_blank" rel="noopener noreferrer">
  Give feedback on Digital Prison Services (opens in a new tab)
  </a>
</div>

    </main>
</div>

{% endblock %}
