{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

      <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
        <div class="prisoner-profile-breadcrumbs">

    <div class="prisoner-profile-breadcrumbs__breadcrumbs">
      <div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/v15/2/profile#tab-6">Eku, Tyler</a></li>
        </ol>
        </div>
    </div>

  </div>

</div>
    </div>

    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l govuk-!-padding-bottom-4">Employability skills</h1>

      <!-- <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with employability skills definitions
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">The skill 'adaptability' includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>acknowledging and accepting change</li>
        <li>adjusting to a change in conditions or routine</li>
        <li>being flexible to avoid setbacks</li>
      </ul>

      <p class="govuk-body">The skill 'communication' includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>speaking to people in an appropriate way</li>
          <li>listening to others</li>
          <li>taking part in group discussions</li>
          <li>explaining their point of view in a respectful way</li>
        </ul>

        <p class="govuk-body">The skill 'creativity' includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>using their imagination and own ideas to create something</li>
            <li>thinking about a task or a problem in a creative way</li>
            <li>seeing the potential in something</li>
          </ul>

          <p class="govuk-body">The skill 'initiative' includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>doing something independently without being told</li>
              <li>finding out something by themselves</li>
              <li>helping others without being asked</li>
            </ul>

          <p class="govuk-body">The skill 'organisation' includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>working efficiently to plan or complete a task</li>
              <li>meeting deadlines</li>
              <li>managing their work and equipment</li>
            </ul>

          <p class="govuk-body">The skill 'planning' includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>thinking about how their actions and decisions could impact others</li>
              <li>setting goals to achieve a task or for personal development</li>
              <li>understanding how to approach a task and complete it</li>
              <li>estimating time and resources needed to complete something</li>
            </ul>

            <p class="govuk-body">The skill 'problem solving' includes:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>identifying a problem</li>
                <li>creating ideas to solve a problem</li>
                <li>choosing and completing a solution</li>
                <li>understanding if the solution was successful</li>
              </ul>

              <p class="govuk-body">The skill 'reliability and timekeeping' includes:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>arriving and leaving on time</li>
                  <li>doing what they said they will do and when</li>
                  <li>being trusted to complete a task and manage own time</li>
                  <li>attending any sessions and appointments regularly</li>
                </ul>

                <p class="govuk-body">The skill 'team working' includes:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>working well with, and helping others</li>
                    <li>sharing responsibility</li>
                    <li>discussing and agreeing actions to complete</li>
                    <li>compromising and managing different opinions</li>
                  </ul>
</div>
</details> -->

<dl class="govuk-summary-list">
<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Adaptability
</dt>
<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
    <li>acknowledging and accepting change</li>
    <li>adjusting to a change in conditions or routine</li>
    <li>being flexible to avoid setbacks</li>
  </ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Commmunication
</dt>
<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
    <li>speaking to people in an appropriate way</li>
    <li>listening to others</li>
    <li>taking part in group discussions</li>
    <li>explaining their point of view in a respectful way</li>
  </ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Creativity
</dt>
<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
    <li>using their imagination and own ideas to create something</li>
    <li>thinking about a task or a problem in a creative way</li>
    <li>seeing the potential in something</li>
  </ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Initiative
</dt>
<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
    <li>doing something independently without being told</li>
    <li>finding out something by themselves</li>
    <li>helping others without being asked</li>
  </ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Organisation
</dt>
<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
    <li>working efficiently to plan or complete a task</li>
    <li>meeting deadlines</li>
    <li>managing their work and equipment</li>
  </ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Planning
</dt>
<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
    <li>thinking about how their actions and decisions could impact others</li>
    <li>setting goals to achieve a task or for personal development</li>
    <li>understanding how to approach a task and complete it</li>
    <li>estimating time and resources needed to complete something</li>
  </ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Problem solving
</dt>
<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
    <li>identifying a problem</li>
    <li>creating ideas to solve a problem</li>
    <li>choosing and completing a solution</li>
    <li>understanding if the solution was successful</li>
  </ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Reliability and timekeeping
</dt>
<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
    <li>arriving and leaving on time</li>
    <li>doing what they said they will do and when</li>
    <li>being trusted to complete a task and manage own time</li>
    <li>attending any sessions and appointments regularly</li>
  </ul>
</dd>
</div>

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Team working
</dt>
<dd class="govuk-summary-list__value">
  <ul class="govuk-list govuk-list--bullet">
    <li>working well with, and helping others</li>
    <li>sharing responsibility</li>
    <li>discussing and agreeing actions to complete</li>
    <li>compromising and managing different opinions</li>
  </ul>
</dd>
</div>


</dl>




        <p class="govuk-body">
        <a href="/v15/2/profile#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
          Return to prisoner profile
        </a>
        </p>


      </div>
  </div>

  <div class="feedback-banner" data-test="feedback-banner">
  <a href="#" class="govuk-link govuk-link--inverse" target="_blank" rel="noopener noreferrer">
  Give feedback on Digital Prison Services (opens in a new tab)
  </a>
</div>

    </main>
</div>

{% endblock %}
