{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

      <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
        <div class="prisoner-profile-breadcrumbs">

    <div class="prisoner-profile-breadcrumbs__breadcrumbs">
      <div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/v15/2/profile#tab-6">Eku, Tyler</a></li>
        </ol>
        </div>
    </div>

  </div>

</div>
    </div>

    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l govuk-!-padding-bottom-4">Tyler Eku's unacceptable absences for the last 6 months</h1>

      <!-- <div style="text-align: right">
        <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">
          Print this page
        </a>
      </div> -->

      <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">

    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

    <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
    <a class="moj-pagination__link" href="/v15/2/unacceptable-absences">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/v15/2/unacceptable-absences">1</a></li>

    <li class="moj-pagination__item moj-pagination__item--active">2</li>



    <li class="moj-pagination__item  moj-pagination__item--next">
    <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
    </ul>
    <p class="moj-pagination__results">Showing <b>21</b> to <b>29</b> of <b>29</b> results</p>
    </nav>

        <!-- table body -->
        <table class="govuk-table" data-module="moj-sortable-table" id="learningTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="none">Activity</th>
              <th scope="col" class="govuk-table__header app-custom-class">Activity</th>
              <th scope="col" class="govuk-table__header app-custom-class">Location</th>
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Date</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:25%">Comment</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body" id="tableBody">

            <!-- Row 1 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                19/07/2021
              </td>
              <td class="govuk-table__cell">
                CONFLICT
              </td>
            </tr>

            <!-- Row 2 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                16/07/2021
              </td>
              <td class="govuk-table__cell">
                Declined
              </td>
            </tr>

            <!-- Row 3 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                11/07/2021
              </td>
              <td class="govuk-table__cell">
                sick
              </td>
            </tr>

            <!-- Row 4 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                04/07/2021
              </td>
              <td class="govuk-table__cell">
                declined
              </td>
            </tr>

            <!-- Row 5 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                27/06/2021
              </td>
              <td class="govuk-table__cell">
                sick
              </td>
            </tr>

            <!-- Row 6 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
              Education Leading to Accreditation
            </td>
              <td class="govuk-table__cell">
                HB1 & 3 Catering
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                10/06/2021
              </td>
              <td class="govuk-table__cell">
                declined
              </td>
            </tr>

            <!-- Row 7 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
              Education Leading to Accreditation
            </td>
              <td class="govuk-table__cell">
                HB1 & 3 Catering
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                07/06/2021
              </td>
              <td class="govuk-table__cell">
                declined
              </td>
            </tr>

            <!-- Row 8 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
              Education Leading to Accreditation
            </td>
              <td class="govuk-table__cell">
              HB1 & 3 Catering
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                06/06/2021
              </td>
              <td class="govuk-table__cell">
                declined
              </td>
            </tr>

            <!-- Row 9 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
              Industries - Assembly / Packing
            </td>
              <td class="govuk-table__cell">
                VP Workshop
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                04/04/2021
              </td>
              <td class="govuk-table__cell">
                decline
              </td>
            </tr>


          </tbody>
        </table>

        <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">

      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

      <ul class="moj-pagination__list">
      <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="/v15/2/unacceptable-absences">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
      </li>

      <li class="moj-pagination__item"><a class="moj-pagination__link" href="/v15/2/unacceptable-absences">1</a></li>

      <li class="moj-pagination__item moj-pagination__item--active">2</li>



      <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="#">Next<span class="govuk-visually-hidden"> set of pages</span></a>
      </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>21</b> to <b>29</b> of <b>29</b> results</p>
      </nav>

        <p class="govuk-body">
        <a href="/v15/2/profile#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
          Return to prisoner profile
        </a>
        </p>

        <!-- <p class="govuk-body">
        <a href="https://docs.google.com/document/d/11fHM5-jdHOqkEH4m2F5Rgalhh--tHAcYm50IyDFJ-aM/edit?usp=sharing" class="govuk-link govuk-link--no-visited-state" target="_blank" data-test="recent-search-link">
          Give feedback on this page (opens in a new tab)
        </a>
        </p> -->

        <div class="app-contact-panel">

  <h2 class="app-contact-panel__heading">This is a new page
  </h2>

  <p class="govuk-body app-contact-panel__body">
  <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://docs.google.com/document/d/11fHM5-jdHOqkEH4m2F5Rgalhh--tHAcYm50IyDFJ-aM/edit?usp=sharing"> Give feedback to help us improve it (opens in a new tab)</a>.
  </p>
  </div>
      </div>
  </div>

  <div class="feedback-banner" data-test="feedback-banner">
  <a href="#" class="govuk-link govuk-link--inverse" target="_blank" rel="noopener noreferrer">
  Give feedback on Digital Prison Services (opens in a new tab)
  </a>
</div>

    </main>
</div>

{% endblock %}
