{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

      <a href="/v2/scenario-5/profile-michael-allen#tab-6" class="govuk-back-link">Back</a>

      <!-- <div class="prisoner-profile-breadcrumbs">

  <div class="prisoner-profile-breadcrumbs__breadcrumbs">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-1/dps-home">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-1/profile-kevin-hall">Hall, Kevin</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Work history in prison</li>
      </ol>
      </div>
  </div>

  </div> -->

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
   <div class="govuk-grid-column-full">

        <span class="govuk-caption-l">Allen, Michael</span>
       <h1 class="govuk-heading-l">Work history</h1>
       <div style="text-align: right">
         <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">
           Print this page
         </a>
       </div>

  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#tab-1">
          Work inside prison (4)
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="#tab-2">
          Work outside prison (2)
        </a>
      </li>
    </ul>

      <div class="govuk-tabs__panel" id="tab-1">
        <!-- <div class="govuk-grid-column-two-thirds"> -->

        <!-- <div class="header-with-link">
            <h1 class="govuk-heading-l">Work history in prison</h1>
        </div>

        <div class="govuk-width-container govuk-!-padding-3 govuk-!-margin-bottom-5 form-background">
        <h2 class="govuk-heading-m">View by</h2>
        <form class="horizontal-form govuk-body govuk-!-margin-bottom-3" method="GET">
            <input type="hidden" name="pageOffsetOption" value="0">

            <div class="govuk-form-group">
              <label class="govuk-label" for="keyword">
                  Keyword
              </label>
              <input class="govuk-input govuk-input--width-20" id="keyword" name="keyword" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="status">
                Status
              </label>
              <select class="govuk-select" id="status" name="status">
                  <option value="">All</option>
                  <option value="IN PROGRESS">In progress</option>
                  <option value="DEFERRED">Deferred</option>
                  <option value="PASS">Pass</option>
                  <option value="FAIL">Fail</option>
                  <option value="WITHDRAWN">Withdrawn</option>
                  <option value="MERIT">Merit</option>
              </select>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                Sort by
              </label>
              <select class="govuk-select" id="sort" name="sort">
                  <option value="">Select</option>
                  <option value="INPROGRESS">Start date</option>
                  <option value="DEFERRED">Planned or actual end date</option>

              </select>
            </div> -->


            <!-- <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="fromDate">
                  From
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="fromDate" name="fromDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div>

            <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="toDate">
                  To
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="toDate" name="toDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div> -->

            <!-- <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="allFilters()"> -->
            <!-- <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="allFilters()" type="button">
              Apply
            </button>

            <a href="#" class="govuk-link" onclick="showAll()">Clear</a>
            </form>
        </div> -->

        <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list"></ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>4</b> of <b>4</b> results</p>
  </nav>
        <!-- table body -->

        <table class="govuk-table" id="learningTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Job title</th>
              <th scope="col" class="govuk-table__header app-custom-class">Location</th>
              <th scope="col" class="govuk-table__header app-custom-class">Start date</th>
              <th scope="col" class="govuk-table__header app-custom-class">End date</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Status</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body" id="tableBody">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cleaner
              </td>
              <!-- <td class="govuk-table__cell">
                Milton Keynes College
              </td> -->
              <td class="govuk-table__cell">
                Durham (HMP)
              </td>
              <td class="govuk-table__cell">
                03/01/2020
              </td>
              <td class="govuk-table__cell">
                20/06/2020
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Previous
                </strong>
              </td>
            </tr>
            <!-- Row 2 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cleaner
              </td>
              <td class="govuk-table__cell">
                Leeds (HMP)
              </td>
              <td class="govuk-table__cell">
                04/07/2019
              </td>
              <td class="govuk-table__cell">
                01/02/2020
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Previous
                </strong>
              </td>
            </tr>

            <!-- Row 3 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Cleaner
              </td>
              <td class="govuk-table__cell">
                Doncaster (HMP)
              </td>
              <td class="govuk-table__cell">
                20/03/2019
              </td>
              <td class="govuk-table__cell">
                11/06/2019
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Previous
                </strong>
              </td>
            </tr>
            <!-- Row 4 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Painter
              </td>
              <td class="govuk-table__cell">
                Doncaster (HMP)
              </td>
              <td class="govuk-table__cell">
                01/02/2019
              </td>
              <td class="govuk-table__cell">
                20/03/2019
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  Previous
                </strong>
              </td>
            </tr>
          </tbody>
        </table>

      </div>



    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-2">
     <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
<p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

<ul class="moj-pagination__list"></ul>
 <p class="moj-pagination__results">Showing <b>1</b> to <b>2</b> of <b>2</b> results</p>
</nav>
     <!-- table body -->

     <table class="govuk-table" id="learningTable">
       <thead class="govuk-table__head">
         <tr class="govuk-table__row">
           <th scope="col" class="govuk-table__header app-custom-class">Job title</th>
           <th scope="col" class="govuk-table__header app-custom-class">Employer</th>
           <th scope="col" class="govuk-table__header app-custom-class">Start date</th>
           <th scope="col" class="govuk-table__header app-custom-class">End date</th>
           <th scope="col" class="govuk-table__header app-custom-class">Work pattern</th>
           <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Status</th>
         </tr>
       </thead>

       <tbody class="govuk-table__body" id="tableBody">
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             Customer Experience Assistant
           </td>
           <td class="govuk-table__cell">
             William Hill,
             <br>Newcastle
           </td>
           <td class="govuk-table__cell">
             02/03/2017
           </td>
           <td class="govuk-table__cell">
             09/04/2018
           </td>
           <td class="govuk-table__cell">
            Part time
            <br>12.5 hours
           </td>
           <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--yellow">
               Previous
             </strong>
           </td>
         </tr>
         <!-- Row 2 -->
         <tr class="govuk-table__row">
           <td class="govuk-table__cell">
             General Buys / Sales Assistant
           </td>
           <td class="govuk-table__cell">
             Cash Converters,
             <br>Darlington
           </td>
           <td class="govuk-table__cell">
             16/12/2015
           </td>
           <td class="govuk-table__cell">
             28/11/2016
           </td>
           <td class="govuk-table__cell">
             Part time
             <br>12.5 hours
           </td>
           <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--yellow">
               Previous
             </strong>
           </td>
         </tr>
       </tbody>
     </table>

</div>

</div>
</div>
</div>
</div>
</div>
    </main>

{% endblock %}
