{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
      <div class="prisoner-profile-breadcrumbs">

  <div class="prisoner-profile-breadcrumbs__breadcrumbs">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-5/dps-home">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-5/profile-michael-allen">Allen, Michael</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Learning history</li>
      </ol>
      </div>
  </div>

</div>

    </div>
    <main class="govuk-main-wrapper">

        <div class="header-with-link">
            <h1 class="govuk-heading-l">Learning history</h1>
        </div>



            <!-- <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="fromDate">
                  From
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="fromDate" name="fromDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div>

            <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="toDate">
                  To
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="toDate" name="toDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div> -->

            <!-- <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="allFilters()"> -->

            <div style="text-align: right">
              <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">
                Print this page
              </a>
            </div>

        <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list"></ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>4</b> of <b>4</b> results</p>
  </nav>
        <!-- table body -->

        <table class="govuk-table" id="learningTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Type</th>
              <th scope="col" class="govuk-table__header app-custom-class">Course name</th>
              <!-- <th scope="col" class="govuk-table__header app-custom-class">Awarding body or organisation</th> -->
              <th scope="col" class="govuk-table__header app-custom-class">Location</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Start date</th>
              <th scope="col" class="govuk-table__header app-custom-class">End date</th>
              <th scope="col" class="govuk-table__header app-custom-class">Guided learning hours</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Status</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body" id="tableBody">


            <!-- Row 1 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Non-accredited
              </td>
              <td class="govuk-table__cell">
                Art Therapy
              </td>
              <td class="govuk-table__cell">
                Leeds (HMP)
              </td>
              <td class="govuk-table__cell">
                16/04/2020
              </td>
              <td class="govuk-table__cell">
                08/05/2020
              </td>
              <td class="govuk-table__cell">
                9 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Pass
                </strong>
              </td>
            </tr>
            <!-- Row 2 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Accredited
              </td>
              <td class="govuk-table__cell">
                Award in Creative Craft
              </td>
              <td class="govuk-table__cell">
                Virtual Campus
              </td>
              <td class="govuk-table__cell">
                10/12/2019
              </td>
              <td class="govuk-table__cell">
                01/02/2020
              </td>
              <td class="govuk-table__cell">
                80 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Pass
                </strong>
              </td>
            </tr>

            <!-- Row 3 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Non-accredited
              </td>
              <td class="govuk-table__cell">
                Award in Stress and Stress Management
              </td>
              <td class="govuk-table__cell">
                Virtual Campus
              </td>
              <td class="govuk-table__cell">
                11/09/2019
              </td>
              <td class="govuk-table__cell">
                02/12/2019
              </td>
              <td class="govuk-table__cell">
                30 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Pass
                </strong>
              </td>
            </tr>

            <!-- Row 4 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Accredited
              </td>
              <td class="govuk-table__cell">
                GCSE (9-1) in Art and Design
              </td>
              <td class="govuk-table__cell">
                The Mount (HMP)
              </td>
              <td class="govuk-table__cell">
                08/09/2018
              </td>
              <td class="govuk-table__cell">
                29/09/2019
              </td>
              <td class="govuk-table__cell">
                140 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Pass
                </strong>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </main>
</div>

{% endblock %}
