
{% extends "layout-scenarios.html" %}

{% block pageTitle %}
  Prisoner education scenarios list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <a href="/index" class="govuk-back-link">Back to prototype home</a>


<div class="govuk-!-padding-bottom-6"></div>


  <form action="/v13/1/dps-home" method="post" novalidate>
  <div class="govuk-form-group">

      <h2 class="govuk-heading-m">First prisoner</h2>
    <p><span class="govuk-body govuk-!-font-weight-bold">Desmond Jackson</span><br>Male, 32 years old</p>

    <button class="govuk-button" data-module="govuk-button">
      Start task
    </button>

    </div>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <form action="/v13/2/dps-home" method="post" novalidate>
    <div class="govuk-form-group">

        <h2 class="govuk-heading-m">Second prisoner</h2>
      <p><span class="govuk-body govuk-!-font-weight-bold">Tyler Eku</span><br>Male, 22 years old</p>

      <button class="govuk-button" data-module="govuk-button">
        Start task
      </button>

      </div>
      </form>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<form action="/v13/3/dps-home" method="post" novalidate>
<div class="govuk-form-group">

  <h2 class="govuk-heading-m">Third prisoner</h2>
  <p><span class="govuk-body govuk-!-font-weight-bold">Kevin Hall</span><br>Male, 42 years old</p>


  <button class="govuk-button" data-module="govuk-button">
    Start task
  </button>

  </div>
  </form>


</div>
</div>



{% endblock %}
