{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

          <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

            <a href="/v19/list-declined-support" class="govuk-back-link">Back to 'Do not want support' list</a>

        </div>
        <main class="govuk-main-wrapper">


            <div class="header-with-link">
                <span class="govuk-caption-m">Prisoner number: AB124BD</span>
                <h1 class="govuk-heading-l">Daniel Hall's work readiness profile </h1>

                <strong class="govuk-tag govuk-tag--red">
                declined support
                </strong>

                <!-- <p class="govuk-body govuk-!-margin-top-2"><a href="/v19/confirm-change-status" class="govuk-link govuk-link--no-visited-state">Change status</a></p> -->

            </div>

            <nav class="moj-sub-navigation govuk-!-margin-top-6" aria-label="Sub navigation">

                <ul class="moj-sub-navigation__list">
                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/declined-support/case-work-readiness">Overview</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link"  href="/v19/profile/declined-support/case-work-readiness-personal-details">Personal details</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/declined-support/case-work-readiness-skills">Skills and activities</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="#">Contacts</a>
                  </li>


                </ul>

              </nav>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Contacts</h1>

                  </div>
                </div>

                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">



                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Community Probation Practitioner
                      </h2>


                    <!-- <div class="app-summary-card__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                          View more details (opens in a new tab)</a>
                    </div> -->

                            </header>
                    <div class="app-summary-card__body">

                  <div class="govuk-hint">
                    Sometimes called a Community Offender Manager (COM).
                  </div>

                      <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Mark Jefferies
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              mark.jefferies@test.gov.uk
            </dd>
          </div>


        </dl>

                    </div>



                </div>




        </div>
    </div>
  </form>
      </main>

{% endblock %}
