// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;
$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// print list
.print-link {
  display: inline-block;
  margin: 0 0 15px -10px;
  position: relative;
  padding: .5em .5em .5em 38px;
  background: url("/public/images/Printer_icon.png") no-repeat 10px 50%;
  background-size: 16px 18px;
}

//tabular data font
.app-\!-font-family-tabular {
  @include govuk-font($size: false, $tabular: true);
}

.app-\!-font-family-tabular-bold {
  @include govuk-font($size: false, $tabular: true, $weight: bold);
}

// Secondary text colour
.secondary-text-col {
  color: $govuk-secondary-text-colour;
}

// Learning status

.table-container {
  overflow-x: auto;
  white-space: nowrap;
}
.govuk-tabs__panel {
  @include govuk-responsive-margin(0, "bottom");
  padding: govuk-spacing(6) 0 !important;
  // padding: govuk-spacing(6) govuk-spacing(4);
  // border: 1px solid $govuk-border-colour;
  // border-top: 0;
  border: none !important;
}

.status {
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
}

.in-progress {
  background-color: #CCDEEF;
}

.deferred {
  background-color: #F9E6A7;
}

.pass {
  background-color: #BAEAB8;
}

.merit {
  background-color: #BAEAB8;
}

.fail {
  background-color: #D9A0A0;
}

.withdrawn {
  background-color: #E2E2E2;
}

//note panel

.note-panel {
  background-color: govuk-colour("light-grey");
  padding: 1.5rem;
  margin-bottom: 1rem;
}

.note-panel ul {
  margin-top: 0;
}

//feedback banner

.feedback-banner {
    background: #1d70b8;
    padding: 20px;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

// DPS header
@import "components/dps-header";

// Hero banner (masthead)
@import "components/masthead";

// Date / time picker styles only
@import "components/date_time";

// Navigation cards and DPS home stuff
@import "components/cards";

// Location bar
@import "components/location-bar";

// prisoner results
@import "components/prisoner-results";

// BaSM styles
@import "components/basm";

// DPS profile styles
@import "components/prisonerProfile/prisoner-alerts";
@import "components/prisonerProfile/prisoner-full-image";
@import "components/prisonerProfile/prisoner-personal";
@import "components/prisonerProfile/prisoner-profile";
@import "components/prisonerProfile/prisoner-profile-header";
@import "components/prisonerProfile/prisoner-profile-footer";
@import "components/prisonerProfile/prisoner-schedule";
@import "components/prisonerProfile/prisoner-visits";
@import "components/prisonerProfile/prisoner-button";
@import "components/summary-list";
@import "components/summary-card";
@import "components/app-contact-panel";
@import "components/beta-feedback";
@import "components/alert-list";
@import "components/alert-status";

@import "components/modal";
