{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

      <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

        <a href="/v6/dps-home" class="govuk-back-link">Digital Prison Services</a>

      </div>


        <h1 class="govuk-heading-l govuk-!-margin-top-7">Our service name</h1>
        <!-- <h1 class="govuk-heading-l govuk-!-margin-top-7">Get someone ready for work</h1> -->

    </div>


<div class="homepage-content">
    <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="set-goals">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">Manage employability skills for a prisoner</a>
                    </h2>
                    <p class="govuk-body card__description">View and assess someone's employability skills.</p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="add-learning-plan">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">View the statistics for employability skills</a>
                    </h2>
                    <p class="govuk-body card__description">View statistics for the establishment.</p>
                </div>

            </li>

            <!-- <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="update-learning-plan">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" onclick="showAlert()">Update a personal learning plan</a>
                    </h2>
                    <p class="govuk-body card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>

            </li> -->



        </ul>
    </div>
</div>

{% endblock %}
