{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <a href="profile/support-needed/case-work-readiness" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">

      <form method="post">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Kevin Hall</span>
        <h1 class="govuk-heading-l">ID</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                Progress
              </h2>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="progress-1" name="progress" type="radio" value="Not started" checked>
                <label class="govuk-label govuk-radios__label" for="progress-1">
                  Not started
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="progress-2" name="progress" type="radio" value="In progress">
                <label class="govuk-label govuk-radios__label" for="progress-2">
                  In progress
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="progress-3" name="progress" type="radio" value="Completed">
                <label class="govuk-label govuk-radios__label" for="progress-3">
                  Completed
                </label>
              </div>
            </div>
          </fieldset>
        </div>


        <div class="govuk-form-group">
          <h2 class="govuk-heading-m">
            Types of ID in place
          </h2>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="to-do-ID-1" name="to-do-ID" type="checkbox" value="Birth certificate">
              <label class="govuk-label govuk-checkboxes__label" for="to-do-ID-1">
                Birth certificate
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="to-do-ID-3" name="to-do-ID" type="checkbox" value="farm">
              <label class="govuk-label govuk-checkboxes__label" for="to-do-ID-3">
                Passport
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="to-do-ID-2" name="to-do-ID" type="checkbox" value="UK driving licence">
              <label class="govuk-label govuk-checkboxes__label" for="to-do-ID-2">
                UK driving licence
              </label>
            </div>

            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="to-do-ID-other" name="to-do-ID" type="checkbox" value="Other" data-aria-controls="conditional-to-do-ID">
              <label class="govuk-label govuk-checkboxes__label" for="to-do-ID-other">
                Other
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-to-do-ID">
              <div class="govuk-form-group">
                <label class="govuk-label" for="to-do-ID-other-details">
                  Details
                </label>
                <textarea class="govuk-textarea" id="with-hint" name="with-hint" rows="2" aria-describedby="with-hint-info with-hint-hint"></textarea>
              </div>
            </div>

          </div>
        </div>


        <h2 class="govuk-heading-m">Notes</h2>

        <p class="govuk-body govuk-!-margin-bottom-8"><a class="govuk-link" href="#">Add a note</a></p>

        <button class="govuk-button" data-module="govuk-button">
          Save progress
        </button>


    </div>

  </form>
  </main>

</div>

</div>

{% endblock %}
