{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

          <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

            <a href="/v19/list-declined-support" class="govuk-back-link">Back to 'Do not want support' list</a>

        </div>
        <main class="govuk-main-wrapper">


            <div class="header-with-link">
                <span class="govuk-caption-m">Prisoner number: AB124BD</span>
                <h1 class="govuk-heading-l">Daniel Hall's work readiness profile </h1>

                <strong class="govuk-tag govuk-tag--red">
                declined support
                </strong>

                <!-- <p class="govuk-body govuk-!-margin-top-2"><a href="/v19/confirm-change-status" class="govuk-link govuk-link--no-visited-state">Change status</a></p> -->

            </div>

            <nav class="moj-sub-navigation govuk-!-margin-top-6" aria-label="Sub navigation">

                <ul class="moj-sub-navigation__list">
                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/declined-support/case-work-readiness">Work readiness</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/declined-support/case-work-readiness-personal-details">Personal details</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="#">Skills and activities</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/declined-support/case-work-readiness-contacts">Contacts</a>
                  </li>


                </ul>

              </nav>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Skills and activities</h1>

                  </div>
                </div>

                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                      <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                        <header class="app-summary-card__header">

                          <h2 class="app-summary-card__title">
                            Courses and qualifications
                          </h2>

                          <div class="app-summary-card__actions">
                              <a class="govuk-link govuk-link--no-visited-state" href="#">
                                View full course history</a>
                          </div>

                        </header>
                        <div class="app-summary-card__body">

                          <div class="govuk-hint">
                            This only includes educational courses. Contact the local education team to find out more.
                          </div>
                          <h3 class="govuk-heading-s">Current courses</h3>

                          <p class="govuk-body">
                            Daniel Hall is nbot currently doing any courses.
                          </p>

                        </div>
                      </section>



                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Functional skills level from induction
                      </h2>

                    </header>
                    <div class="app-summary-card__body">

                      <div class="govuk-hint">
                        These functional skills levels are from the prisoner’s induction assessment. To view their most recent functional skills levels, go to courses and qualifications.
                      </div>

                      <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            English assessment level
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Entry Level 2
                            <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
                                Last assessed on 1 January 2021
                              </p>
                          </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Maths assessment level
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Entry Level 2
                            <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
                                Last assessed on 1 January 2021
                              </p>
                          </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Digital literacy assessment level
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Entry Level 3
                            <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
                                Last assessed on 1 February 2021
                              </p>
                          </dd>
                        </div>

                      </dl>
                    </div>
                  </section>

                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">

  <header class="app-summary-card__header">

    <h2 class="app-summary-card__title">
      Employability skills
    </h2>

      <div class="app-summary-card__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">
            View assessment history</a>
      </div>

  </header>


  <div class="app-summary-card__body">


  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Communication
      </dt>
      <dd class="govuk-summary-list__value">
        3 - Acceptable demonstration - Adequate evidence provided
        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last assessed on 1 December 2021
          </p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Team working
      </dt>
      <dd class="govuk-summary-list__value">
        4 - Good demonstration - Substantial evidence provided
        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last assessed on 30 November 2021
          </p>
      </dd>
    </div>


  </dl>



  </div>

</section>

<section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
  <header class="app-summary-card__header">

    <h2 class="app-summary-card__title">
      Work and activities in prison
    </h2>

    <!-- <div class="app-summary-card__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="#">
          View full course history</a>
    </div> -->

  </header>
  <div class="app-summary-card__body">

    <div class="govuk-hint">
      This includes anything that’s logged as an activity using NOMIS.
    </div>

    <h3 class="govuk-heading-s">Current activities</h3>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2" data-test="offence-summary">
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__value">
        Workshop 7 HB1 & 3 Single Portions
      </dt>
      <dd class="govuk-summary-list__value">
        Started on 05 June 2021
      </dd>
      </div>
    </dl>

    <p class="govuk-body govuk-!-margin-bottom-3"><a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-margin-bottom-3" style="govuk-!-margin-bottom-3;">
      View work and activities for the last 12 months
    </a>
    <br></p>

    <p class="govuk-body govuk-!-margin-bottom-3"><a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-margin-bottom-3" style="govuk-!-margin-bottom-3;">
         View 7 day schedule (opens in a new tab)
      </a></p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h3 class="govuk-heading-s">Unacceptable absences</h3>

      <dl class="govuk-summary-list govuk-!-margin-bottom-2" data-test="course-summary">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
          Last 30 days
          </dt>
          <dd class="govuk-summary-list__value">
            0
          </dd>
        </div>
      </dl>

  <p class="govuk-body govuk-!-margin-bottom-3"><a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-margin-bottom-3" style="govuk-!-margin-bottom-3;">
    View unacceptable absences for the last 6 months
  </a>
  </p>

  </div>
</section>


  </div>




        </div>
    </div>
  </form>
      </main>

{% endblock %}
