{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

          <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
            <div class="prisoner-profile-breadcrumbs">

          <div class="prisoner-profile-breadcrumbs__search">
            <a href="/v3/our-service/prisoner-first/search-results" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
              View most recent search
            </a>
          </div>

        <div class="prisoner-profile-breadcrumbs__breadcrumbs">
          <div class="govuk-breadcrumbs ">
            <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/v3/our-service/prisoner-first/home">Our service</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Hall, Kevin</li>
            </ol>
            </div>
        </div>

      </div>

          </div>
          <main class="govuk-main-wrapper">

              <div class="header-with-link">
                  <h1 class="govuk-heading-l">Hall, Kevin</h1>
              </div>

              <nav class="moj-sub-navigation" aria-label="Sub navigation">

                <ul class="moj-sub-navigation__list">
                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="#1">Overview</a>
                  </li>

                  <!-- <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#2">Activities</a>
                  </li> -->

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#3">Progress</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#4">Skills</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#3">Personal details</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#3">Sentence</a>
                  </li>
                </ul>

              </nav>




          </main>
    </div>

{% endblock %}
