
{% extends "layout-scenarios.html" %}

{% block pageTitle %}
  Prisoner education scenarios list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <a href="/index" class="govuk-back-link">Back to prototype home</a>



<div class="govuk-!-padding-bottom-6"></div>
<div class="govuk-grid-column-two-thirds">


  <form action="/v3/scenario-1/dps-home" method="post" novalidate>
  <div class="govuk-form-group">

    <span class="govuk-caption-l">Prison Offender Manager</span>
    <h2 class="govuk-heading-l">Scenario 1</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>You are preparing to represent a prisoner at a parole board
      </li>
      <li>You have a very high caseload
      </li>
      <li>You were recently allocated to this individual and do not know them well
      </li>
    </ul>

    <h2 class="govuk-heading-m">Prisoner details</h2>
    <p><span class="govuk-body govuk-!-font-weight-bold">Kevin Hall</span><br>Male, 42 years old</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>4 years into an indeterminate sentence
      </li>
      <li>His parole board is scheduled for 6 months time
      </li>
      <li>He has work experience in the prison as kitchen staff
      </li>
      <li>He has dyslexia and is austistic
      </li>
    </ul>

    <h2 class="govuk-heading-m">Task</h2>
    <p>How would you gather information about Kevin's progress and achievements?</p>

    <button class="govuk-button" data-module="govuk-button">
      Test prototype
    </button>

    </div>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <form action="/v2/scenario-2/dps-home" method="post" novalidate>
    <div class="govuk-form-group">

    <span class="govuk-caption-l">Prison Offender Manager (POM)</span>
    <h2 class="govuk-heading-l">Scenario 2</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>You have been allocated a prisoner who has transferred from another prison
      </li>
      <li>You do not know this individual well and have only met them once
      </li>
    </ul>

    <h2 class="govuk-heading-m">Prisoner details</h2>
    <p><span class="govuk-body govuk-!-font-weight-bold">Tobiasz Niemec</span><br>Male, 31 years old</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>He is a foreign national with poor English
      </li>
      <li>He has transferred from a Cat B to a Cat C prison
      </li>
      <li>He started an English course at his previous prison and needs to continue it but can't be bothered
      </li>
    </ul>

    <h2 class="govuk-heading-m">Task</h2>
    <p>How would you ensure Tobiasz continues his English course?</p>

    <button class="govuk-button" data-module="govuk-button">
    Test prototype
    </button>
    </form>
    </div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<form action="/v2/scenario-3/dps-home" method="post" novalidate>
<div class="govuk-form-group">

    <span class="govuk-caption-l">Activities Manager</span>
    <h2 class="govuk-heading-l">Scenario 3</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>You have received a request to set up activities for a new prisoner
      </li>
      <li>They are currently doing their education induction
      </li>
      <li>You've never met this individual before
      </li>
    </ul>

    <h2 class="govuk-heading-m">Prisoner details</h2>
    <p><span class="govuk-body govuk-!-font-weight-bold">Paul Davey</span><br>Male, 36 years old</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>First time in prison
      </li>
      <li>His sentence is 18 months
      </li>
    </ul>

    <h2 class="govuk-heading-m">Task</h2>
    <p>How would you allocate Paul to appropriate activities?</p>


    <button class="govuk-button" data-module="govuk-button">
  Test prototype
</button>
  </form>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


  <form action="/v2/scenario-4/dps-home" method="post" novalidate>
  <div class="govuk-form-group">

  <span class="govuk-caption-l">Activities Manager</span>
  <h2 class="govuk-heading-l">Scenario 4</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>You are meeting with the allocations board to discuss allocation for this individual
    </li>
    <li>They have a personal learning plan
    </li>
  </ul>

  <h2 class="govuk-heading-m">Prisoner details</h2>
  <p><span class="govuk-body govuk-!-font-weight-bold">David Clarke</span><br>Male, 19 years old</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>First time in prison
    </li>
    <li>Is part of a gang
    </li>
    <li>Rival gang members are known to be in the same prison
    </li>
    <li>He wants to get back into education to finish his GCSEs
    </li>
  </ul>

  <h2 class="govuk-heading-m">Task</h2>
  <p>How would you allocate David to appropriate activities?</p>

  <button class="govuk-button" data-module="govuk-button">
  Test prototype
  </button>
  </form>
  </div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<form action="/v2/scenario-5/dps-home" method="post" novalidate>
<div class="govuk-form-group">

<span class="govuk-caption-l">Key Worker</span>
<h2 class="govuk-heading-l">Scenario 5</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>You have been allocated to a returning prisoner that you previously were allocated to
  </li>
  <li>They are based on a wing different to where you normally work
  </li>
</ul>

<h2 class="govuk-heading-m">Prisoner details</h2>
<p><span class="govuk-body govuk-!-font-weight-bold">Michael Allen</span><br>Male, 36 years old</p>
<ul class="govuk-list govuk-list--bullet">
  <li>He was recalled on an IPP sentence
  </li>
  <li>He has work experience in the prison as a cleaner
  </li>
  <li>He is feeling low and lacking motivation
  </li>
  <li>He has ADHD
  </li>
</ul>

<h2 class="govuk-heading-m">Task</h2>
<p>How would you help Michael to set some goals for their personal development in prison?</p>

<button class="govuk-button" data-module="govuk-button">
Test prototype
</button>
</form>



</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<form action="/v2/scenario-6/dps-home" method="post" novalidate>
<div class="govuk-form-group">

<span class="govuk-caption-l">Key Worker</span>
<h2 class="govuk-heading-l">Scenario 6</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>You are meeting to discuss future plans for this individual
  </li>
  <li>You know this individual very well and have a good relationship
  </li>
</ul>

<h2 class="govuk-heading-m">Prisoner details</h2>
<p><span class="govuk-body govuk-!-font-weight-bold">Tyler Chapman</span><br>Male, 29 years old</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Has served 3 years and 6 months and has 6 months remaining before his conditional release date
  </li>
  <li>He has nearly completed a vocational certificate in carpentry
  </li>
  <li>He is dyslexic
  </li>
</ul>

<h2 class="govuk-heading-m">Task</h2>
<p>How would you help Tyler to demonstrate what skills they have acquired in prison to help them when finding a job once released?</p>

<button class="govuk-button" data-module="govuk-button">
Test prototype
</button>
</form>
</div>
</div>
</div>


<div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://hmpps-education-design-history.herokuapp.com/">
              Design history
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://trello.com/b/tF4lD7Jr/managing-prisoners-education-skills-work-employment">
              Project Trello
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://github.com/ministryofjustice/hmpps-prisoner-education">
              Prototype Github repository
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>


{% endblock %}
