{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">


    <a href="/v20/checklist/scenario-1/q8-qualifications" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Check your answers before adding this information to profile</h1>

        <h2 class="govuk-heading-m">Prisoner details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Hall, Kevin
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Prisoner number
            </dt>
            <dd class="govuk-summary-list__value">
              G2911GD
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Eligibility for support</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Right to work
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-right-to-work'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Wants support getting work on release
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-opt-in-for-support'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

        </dl>

        <h2 class="govuk-heading-m">Things they have set up already</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has already got
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-has-already-got'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

        <h2 class="govuk-heading-m">Things that might impact their ability to work</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Potential impacts on ability to work
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-might-impact'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full-time caring responsibilities
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['full-time'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Mental health
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-mental-health'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Drug or alcohol dependency
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-dependency'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

        <h2 class="govuk-heading-m">Work-related information</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job types of interest
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-job-sectors'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Specific job role of interest
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-work-goals'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Work or volunteering experience
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-work-experience'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> home address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Work-related qualifications
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['v20-qualifications'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence period</span>
              </a>
            </dd>
          </div>
        </dl>

        <form action="/v20/checklist/scenario-1/confirmation-page" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Submit answers
          </button>

        </form>



    </div>
  </div>
  </main>
</div>

{% endblock %}
