{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">


    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Are caring responsibilities full-time?
        </h1>

        <form action="/v20/checklist/scenario-1/q4b-mental-health" method="post" novalidate>

          <div class="govuk-form-group">
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="full-time" name="full-time" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="full-time">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="full-time-2" name="full-time" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="full-time-2">
              No
            </label>
          </div>
        </div>
      </div>


</div>


            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

      </div>


    </div>
  </main>
</div>

{% endblock %}
