{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
      <div class="prisoner-profile-breadcrumbs">

  <div class="prisoner-profile-breadcrumbs__breadcrumbs">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-1/dps-home">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-1/profile-kevin-hall">Hall, Kevin</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Learning history</li>
      </ol>
      </div>
  </div>

</div>

    </div>
    <main class="govuk-main-wrapper">

        <div class="header-with-link">
            <h1 class="govuk-heading-l">Learning history</h1>
        </div>

        <div class="govuk-width-container govuk-!-padding-3 govuk-!-margin-bottom-5 form-background">
        <h2 class="govuk-heading-m">View by</h2>
        <form class="horizontal-form govuk-body govuk-!-margin-bottom-3" method="GET">
            <input type="hidden" name="pageOffsetOption" value="0">

            <div class="govuk-form-group">
              <label class="govuk-label" for="keyword">
                  Keyword
              </label>
              <input class="govuk-input govuk-input--width-20" id="keyword" name="keyword" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="status">
                Status
              </label>
              <select class="govuk-select" id="status" name="status">
                  <option value="">All</option>
                  <!-- <option value="IN PROGRESS">In progress</option> -->
                  <!-- <option value="DEFERRED">Deferred</option> -->
                  <option value="PASS">Pass</option>
                  <option value="FAIL">Fail</option>
                  <option value="WITHDRAWN">Withdrawn</option>
                  <option value="MERIT">Merit</option>
              </select>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                Sort by
              </label>
              <select class="govuk-select" id="sort" name="sort">
                  <option value="">Select</option>
                  <option value="INPROGRESS">Start date</option>
                  <option value="DEFERRED">End date</option>

              </select>
            </div>


            <!-- <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="fromDate">
                  From
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="fromDate" name="fromDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div>

            <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="toDate">
                  To
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="toDate" name="toDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div> -->

            <!-- <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="allFilters()"> -->
            <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="allFilters()" type="button">
              Apply
            </button>

            <a href="#" class="govuk-link" onclick="showAll()">Clear</a>
            </form>
        </div>



            <!-- <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="fromDate">
                  From
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="fromDate" name="fromDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div>

            <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="toDate">
                  To
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="toDate" name="toDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div> -->

            <!-- <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="allFilters()"> -->

            <div style="text-align: right">
              <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">
                Print this page
              </a>
            </div>

        <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list"></ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
  </nav>
        <!-- table body -->

        <table class="govuk-table" id="learningTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Type</th>
              <th scope="col" class="govuk-table__header app-custom-class">Course name</th>
              <!-- <th scope="col" class="govuk-table__header app-custom-class">Awarding body or organisation</th> -->
              <th scope="col" class="govuk-table__header app-custom-class">Location</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Start date</th>
              <th scope="col" class="govuk-table__header app-custom-class">Planned or actual end date</th>
              <th scope="col" class="govuk-table__header app-custom-class">Guided learning hours</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Status</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body" id="tableBody">
            <!-- <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                BTEC
              </td>
              <td class="govuk-table__cell">
                Level 2 Award in Construction - Carpentry
              </td>
              <td class="govuk-table__cell">
                Hull (HMP)
              </td>
              <td class="govuk-table__cell">
                03/03/2021
              </td>
              <td class="govuk-table__cell">
                29/03/2022
              </td>
              <td class="govuk-table__cell">
                44 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  In progress
                </strong>
              </td>
            </tr> -->
            <!-- Row 1 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                BA/Bsc
              </td>
              <td class="govuk-table__cell">
                BA/BSc (Honours) Design and Innovation
              </td>
              <!-- <td class="govuk-table__cell">
                Open University
              </td> -->
              <td class="govuk-table__cell">
                Distance learning
              </td>
              <td class="govuk-table__cell">
                18/02/2021
              </td>
              <td class="govuk-table__cell">
                25/02/2021
              </td>
              <td class="govuk-table__cell">
                4 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Withdrawn
                </strong>
              </td>
            </tr>
            <!-- Row 2 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Non-accredited
              </td>
              <td class="govuk-table__cell">
                Numeracy skills
              </td>
              <!-- <td class="govuk-table__cell">
                Milton Keynes College
              </td> -->
              <td class="govuk-table__cell">
                Virtual Campus
              </td>
              <td class="govuk-table__cell">
                16/01/2021
              </td>
              <td class="govuk-table__cell">
                08/03/2021
              </td>
              <td class="govuk-table__cell">
                18 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Pass
                </strong>
              </td>
            </tr>
            <!-- Row 3 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Non-accredited
              </td>
              <td class="govuk-table__cell">
                Help with numbers
              </td>
              <!-- <td class="govuk-table__cell">
                Milton Keynes College
              </td> -->
              <td class="govuk-table__cell">
                Virtual Campus
              </td>
              <td class="govuk-table__cell">
                08/06/2020
              </td>
              <td class="govuk-table__cell">
                16/02/2021
              </td>
              <td class="govuk-table__cell">
                60 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Pass
                </strong>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </main>
</div>

{% endblock %}
