{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <!-- <a href="#" onclick="history.back()" class="govuk-back-link">Back</a> -->

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Information added to Kevin Hall's work readiness profile
            </h1>
        </div>

          <p class="govuk-body govuk-!-margin-top-6">Kevin Hall has declined support to find work.</p>

           <p class="govuk-body">If they change their mind you can update their work readiness profile and change this answer.</p>


          <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>

          <!-- <p class="govuk-body">The Prison Employment Lead may speak to the prisoner about their reasons for this decision.</p> -->

          <p class="govuk-body">[Insert staff role] may speak to the prisoner about their reasons for this decision.</p>

          <p class="govuk-body">
            <a href="./home" class="govuk-link">Return to service home</a>
          </p>

          <p class="govuk-body">
            <a href="#" class="govuk-link">View Kevin Hall's work readiness profile</a>
          </p>

          <p class="govuk-body">
            <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
          </p>
        </div>
      </div>



  </main>
</div>

{% endblock %}
