{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">


  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- <form action="/v20/checklist/scenario-1/q4a-caring-responsibilities" method="post" novalidate> -->
        <form class="form" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="might-impact-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  {% if data['scenario'] == '2' %}
                    What might impact Damien Adams's ability to work?
                  {% else %}
                    What `might impact Kevin Hall's ability to work?
                  {% endif %}
                </h1>
              </legend>
              <div id="might-impact-hint" class="govuk-hint">
                Select all that apply
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="might-impact-caring" name="might-impact" type="checkbox" value="Caring responsibilities">
                  <label class="govuk-label govuk-checkboxes__label" for="might-impact-caring">
                    Caring responsibilities
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="might-impact-education" name="might-impact" type="checkbox" value="Enrollment in education or training in the community">
                  <label class="govuk-label govuk-checkboxes__label" for="might-impact-education">
                    Enrolled in education or training
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="might-impact-family" name="might-impact" type="checkbox" value="Family issues">
                  <label class="govuk-label govuk-checkboxes__label" for="might-impact-family">
                    Family issues
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="might-impact-mentalHealth" name="might-impact" type="checkbox" value="Mental health conditions or diagnoses">
                  <label class="govuk-label govuk-checkboxes__label" for="might-impact-mentalHealth">
                    Mental health conditions or diagnoses
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="might-impact-physicalHealth" name="might-impact" type="checkbox" value="Physical health conditions or illnesses">
                  <label class="govuk-label govuk-checkboxes__label" for="might-impact-physicalHealth">
                    Physical health conditions or illnesses
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="might-impact-drugs" name="might-impact" type="checkbox" value="Reliant on drugs or alcohol">
                  <label class="govuk-label govuk-checkboxes__label" for="might-impact-drugs">
                    Reliant on drugs or alcohol
                  </label>
                </div>
                <div class="govuk-checkboxes__divider">or</div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="might-impact-none" name="might-impact" type="checkbox" value="None of these" data-behaviour="exclusive">
                  <label class="govuk-label govuk-checkboxes__label" for="might-impact-none">
                    None of these
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>


    </div>
  </main>
</div>

{% endblock %}
