{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">


    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Is Kevin Hall currently able to manage their drugs or alcohol dependency?
        </h1>

        <form action="/v19/checklist/scenario-1/q4b-management-mental-health" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="1-dependency-1" name="1-dependency" type="radio" value="Yes, able to manage this independently">
                  <label class="govuk-label govuk-radios__label" for="1-dependency">
                    Yes, able to manage this independently
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="1-dependency-2" name="1-dependency" type="radio" value="Yes, able to manage this with the support they are currently receiving">
                  <label class="govuk-label govuk-radios__label" for="1-dependency-2">
                    Yes, able to manage this with the support they are currently receiving
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="1-dependency-3" name="1-dependency" type="radio" value="Not able to manage this yet">
                  <label class="govuk-label govuk-radios__label" for="1-dependency-3">
                    Not able to manage this yet
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>

      </div>


    </div>
  </main>
</div>

{% endblock %}
