{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

      <a href="/v2/scenario-2/profile-tobiasz-niemec#tab-6" class="govuk-back-link">Back</a>

    </div>
    <main class="govuk-main-wrapper">

          <span class="govuk-caption-l">Niemec, Tobiasz</span>
            <h1 class="govuk-heading-l">Learning history</h1>

            <div style="text-align: right">
              <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">
                Print this page
              </a>
            </div>

            <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#tab-1">
                    Current courses (1)
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#tab-2">
                    Previous courses (2)
                  </a>
                </li>
              </ul>

            <div class="govuk-tabs__panel" id="tab-1">

              <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
        <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

        <ul class="moj-pagination__list"></ul>
          <p class="moj-pagination__results">Showing <b>1</b> result</p>
        </nav>
              <!-- table body -->

              <table class="govuk-table" id="learningTable">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class">Type</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Course name</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Location</th>
                    <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Start date</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Planned end date</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Guided learning hours</th>
                    <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Status</th>
                  </tr>
                </thead>

                <tbody class="govuk-table__body" id="tableBody">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      Accredited
                    </td>
                    <td class="govuk-table__cell">
                      Certificate in Construction Skills (Painting and Decorating)
                    </td>
                    <td class="govuk-table__cell">
                      Hull (HMP)
                    </td>
                    <td class="govuk-table__cell">
                      03/03/2021
                    </td>
                    <td class="govuk-table__cell">
                      29/03/2022
                    </td>
                    <td class="govuk-table__cell">
                      160 hours
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--yellow">
                        In progress
                      </strong>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>

          <div class="govuk-tabs__panel" id="tab-2">

        <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list"></ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>3</b> of <b>3</b> results</p>
  </nav>
        <!-- table body -->

        <table class="govuk-table" id="learningTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Type</th>
              <th scope="col" class="govuk-table__header app-custom-class">Course name</th>
              <!-- <th scope="col" class="govuk-table__header app-custom-class">Awarding body or organisation</th> -->
              <th scope="col" class="govuk-table__header app-custom-class">Location</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Start date</th>
              <th scope="col" class="govuk-table__header app-custom-class">End date</th>
              <th scope="col" class="govuk-table__header app-custom-class">Guided learning hours</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Status</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body" id="tableBody">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Non-accredited
              </td>
              <td class="govuk-table__cell">
                English Skills 2
              </td>
              <td class="govuk-table__cell">
                Virtual Campus
              </td>
              <td class="govuk-table__cell">
                18/03/2021
              </td>
              <td class="govuk-table__cell">
                25/05/2021
              </td>
              <td class="govuk-table__cell">
                64 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Withdrawn
                </strong>
              </td>
            </tr>
            <!-- Row 2 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Non-accredited
              </td>
              <td class="govuk-table__cell">
                English Entry revison club
              </td>
              <td class="govuk-table__cell">
                Virtual Campus
              </td>
              <td class="govuk-table__cell">
                03/02/2021
              </td>
              <td class="govuk-table__cell">
                28/02/2021
              </td>
              <td class="govuk-table__cell">
                55 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Pass
                </strong>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>

    </main>
</div>

{% endblock %}
