{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
      <div class="prisoner-profile-breadcrumbs">

  <div class="prisoner-profile-breadcrumbs__breadcrumbs">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-4/dps-home">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-4/profile-david-clarke">Clarke, David</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Work history in prison</li>
      </ol>
      </div>
  </div>

</div>

    </div>
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Work history in prison</h1>

        <!-- <div class="header-with-link">
            <h1 class="govuk-heading-l">Work history in prison</h1>
        </div>

        <div class="govuk-width-container govuk-!-padding-3 govuk-!-margin-bottom-5 form-background">
        <h2 class="govuk-heading-m">View by</h2>
        <form class="horizontal-form govuk-body govuk-!-margin-bottom-3" method="GET">
            <input type="hidden" name="pageOffsetOption" value="0">

            <div class="govuk-form-group">
              <label class="govuk-label" for="keyword">
                  Keyword
              </label>
              <input class="govuk-input govuk-input--width-20" id="keyword" name="keyword" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="status">
                Status
              </label>
              <select class="govuk-select" id="status" name="status">
                  <option value="">All</option>
                  <option value="IN PROGRESS">In progress</option>
                  <option value="DEFERRED">Deferred</option>
                  <option value="PASS">Pass</option>
                  <option value="FAIL">Fail</option>
                  <option value="WITHDRAWN">Withdrawn</option>
                  <option value="MERIT">Merit</option>
              </select>
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                Sort by
              </label>
              <select class="govuk-select" id="sort" name="sort">
                  <option value="">Select</option>
                  <option value="INPROGRESS">Start date</option>
                  <option value="DEFERRED">Planned or actual end date</option>

              </select>
            </div> -->


            <!-- <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="fromDate">
                  From
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="fromDate" name="fromDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div>

            <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="toDate">
                  To
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="toDate" name="toDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div> -->

            <!-- <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="allFilters()"> -->
            <!-- <button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="allFilters()" type="button">
              Apply
            </button>

            <a href="#" class="govuk-link" onclick="showAll()">Clear</a>
            </form>
        </div> -->

        <div style="text-align: right">
          <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">
            Print this page
          </a>
        </div>

        <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list"></ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>1</b> of <b>1</b> results</p>
  </nav>
        <!-- table body -->

        <table class="govuk-table" id="learningTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Job title</th>
              <th scope="col" class="govuk-table__header app-custom-class">Location</th>
              <th scope="col" class="govuk-table__header app-custom-class">Start date</th>
              <th scope="col" class="govuk-table__header app-custom-class">End date</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Status</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body" id="tableBody">
            <!-- Row 4 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Kitchen operative
              </td>
              <td class="govuk-table__cell">
                Hull (HMP)
              </td>
              <td class="govuk-table__cell">
                30/04/2021
              </td>
              <td class="govuk-table__cell">
                Current
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Current
                </strong>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

    </main>
</div>

{% endblock %}
