{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

      <main class="govuk-main-wrapper">

          <form method="post">

            <div class="govuk-grid-row">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <div class="govuk-grid-column-one-quarter">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">Prison number: <span class="govuk-body">G2911GD</span></p>
                  </div>
                  <div class="govuk-grid-column-three-quarters">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">Release date: <span class="govuk-body">1 September 2022</span></p>
                  </div>
                </div>
              </div>
            </div>

            <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Kevin Hall's work profile </h1>

          <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="./case-work-readiness">Overview</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="./case-work-readiness-personal-details">Personal details</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="./case-work-readiness-work">Work interests and experience</a>
              </li>

              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" href="./case-work-readiness-skills">Training in prison</a>
              </li>


              <li class="moj-sub-navigation__item">
                <a class="moj-sub-navigation__link" aria-current="page" href="#">Contacts</a>
              </li>


            </ul>

          </nav>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-m govuk-!-margin-bottom-7">Contacts</h1>


              <section class="app-summary-card govuk-!-margin-bottom-6">
                <header class="app-summary-card__header">
                  <h2 class="app-summary-card__title">
                    Community Probation Practitioner (COM)
                  </h2>
                  </header>

                  <div class="app-summary-card__body">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Name
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Leanne Greenwood
                      </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Email address
                      </dt>
                      <dd class="govuk-summary-list__value">
                        leanne.greenwood@test.gov.uk
                      </dd>
                    </div>
                  </dl>
                  </div>

                </section>

                <section class="app-summary-card govuk-!-margin-bottom-6">
                  <header class="app-summary-card__header">
                    <h2 class="app-summary-card__title">
                      Key worker
                    </h2>
                  </header>

                  <div class="app-summary-card__body">
                    <dl class="govuk-summary-list">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Name
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Brian Davies
                        </dd>
                      </div>

                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Email address
                        </dt>
                        <dd class="govuk-summary-list__value">
                          brian.davies@test.gov.uk
                        </dd>
                      </div>
                    </dl>
                    </div>

                  </section>

                  <section class="app-summary-card govuk-!-margin-bottom-6">
                    <header class="app-summary-card__header">
                      <h2 class="app-summary-card__title">
                        Prison Offender Manager (POM)
                      </h2>
                    </header>

                    <div class="app-summary-card__body">
                      <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Name
                          </dt>
                          <dd class="govuk-summary-list__value">
                            Melanie Eseku
                          </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Email address
                          </dt>
                          <dd class="govuk-summary-list__value">
                            melanie.eseku@test.gov.uk
                          </dd>
                        </div>
                      </dl>

                    </div>
                  </section>



                </div>




        </div>
    </div>
  </form>
      </main>

{% endblock %}
