{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

      <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <form method="post">

          <div class="govuk-grid-row">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="govuk-grid-column-one-quarter">
                  <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">Prison number: <span class="govuk-body">G2911GD</span></p>
                </div>
                <div class="govuk-grid-column-three-quarters">
                  <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-5">Release date: <span class="govuk-body">1 September 2022</span></p>
                </div>
              </div>
            </div>
          </div>

          <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Kevin Hall's work profile </h1>


          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

              <nav class="moj-sub-navigation" aria-label="Sub navigation">

                <ul class="moj-sub-navigation__list">
                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="./case-work-readiness">Overview</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="./case-work-readiness-personal-details">Personal details</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="#">Work interests and experience</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="./case-work-readiness-skills">Training in prison</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="./case-work-readiness-contacts">Contacts</a>
                  </li>
                </ul>

              </nav>

            </div>
          </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-m govuk-!-margin-bottom-7">Work interests and experience</h1>


    <section class="app-summary-card govuk-!-margin-bottom-6">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Work interests
        </h2>
      </header>

      <div class="app-summary-card__body">

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of work
            </dt>
            <dd class="govuk-summary-list__value">
              Any type of work
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="../../checklist/q5-job-sectors">
                Change<span class="govuk-visually-hidden"> type of work</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Specific job role of interest
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="../../checklist/q6-job-role">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
          </div>
        </dl>
        <p class="app-summary-card__hint">Last updated 1 August by James Brown</p>

      </div>
    </section>


    <section class="app-summary-card govuk-!-margin-bottom-6">
      <header class="app-summary-card__header">
        <h2 class="app-summary-card__title">
          Volunteering and experience
        </h2>
      </header>

      <div class="app-summary-card__body">

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Work or volunteering experience
            </dt>

            <dd class="govuk-summary-list__value">
              Yes <br><br>
              Details: Worked at his uncle's construction firm for 6 months prior to custody.
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="../../checklist/q7-work-experience">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Qualifications and training
            </dt>

            <dd class="govuk-summary-list__value">
              CSCS card <br>
              Manual handling
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="../../checklist/q8-qualifications">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>

          </div>
          <div class="govuk-summary-list__row">
          </div>
        </dl>
        <p class="app-summary-card__hint">Last updated 1 August by James Brown</p>

        </div>
      </section>


  </div>

        </div>
    </div>
  </form>
      </main>

{% endblock %}
