{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

          <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
            <div class="prisoner-profile-breadcrumbs">

          <div class="prisoner-profile-breadcrumbs__search">
            <a href="/v17/search-results" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
              View most recent search
            </a>
          </div>

        <div class="prisoner-profile-breadcrumbs__breadcrumbs">
          <div class="govuk-breadcrumbs ">
            <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/v17/home">Get someone work ready</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">Hall, Kevin</li>
            </ol>
            </div>
        </div>

      </div>

          </div>
          <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">

              <div class="govuk-grid-column-two-thirds">
              <div class="header-with-link">
                  <span class="govuk-caption-m">Prison number: G2911GD</span>
                  <h1 class="govuk-heading-l">Kevin Hall's assessment</h1>

              </div>

              <p class="govuk-body">
                <a href="#" class="govuk-link">View Kevin Hall's prisoner profile (opens in a new tab)</a>.
              </p>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          ID
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">No</p>
                          <p class="govuk-body">Mr Hall has no ID.</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> name</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Valid driving licence
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">No</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> date of birth</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Bank account
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">No</p>
                          <p class="govuk-body">No bank account. He's been referred to Resettlement for bank account.</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> address</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Accommodation status
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">No fixed abode</p>
                          <p class="govuk-body">Mr Hall has some housing concerns which need to be addressed. Probation emailed on 12/11 about license conditions and St Mungos contacted about housing support.</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> contact details</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Last job outside of prison
                        </dt>
                        <dd class="govuk-summary-list__value">
                          Unemployed
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> contact details</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        CV
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">No</p>
                          <p class="govuk-body">No CV. Would like to get his CSCS card and work in construction.</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> contact details</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Disclosure letter
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">No</p>
                          <p class="govuk-body">No disclosure.</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> contact details</span>
                          </a>
                        </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                        Work related certificates or qualifications
                        </dt>
                        <dd class="govuk-summary-list__value">
                          <p class="govuk-body">No, would like to get his CSCS card and work in construction.</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="#">
                            Change<span class="govuk-visually-hidden"> contact details</span>
                          </a>
                        </dd>
                      </div>
                    </dl>



                    </form>

                  </div>
                </div>


          </main>
    </div>

{% endblock %}
