{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

          <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

              <a href="/v19/list-support-needed" class="govuk-back-link">Back</a>

          </div>
          <main class="govuk-main-wrapper">

              <div class="header-with-link govuk-!-margin-bottom-4">
                  <span class="govuk-caption-m">Prisoner number: G2911GD</span>
                  <h1 class="govuk-heading-l">Kevin Hall's work readiness profile</h1>

                  <button class="govuk-button" data-module="govuk-button">
                    Add to work ready list
                  </button>

              </div>

              <!-- <nav class="moj-sub-navigation" aria-label="Sub navigation">

                <ul class="moj-sub-navigation__list">
                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="#">Work readiness</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Personal details</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Skills and strengths</a>
                  </li>


                </ul>

              </nav>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Work readiness</h1>

                  </div>
                </div> -->

                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Support needed
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-body">Kevin needs help with:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>writing a CV and covering letter</li>
            <li>sorting housing for release</li>
          </ul>

          <a class="govuk-link govuk-link--no-visited-state" href="#">
            Record progress</a>
      </div>
    </div>



                  <!-- <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Support needed
                      </h2>

                      <div class="app-summary-card__actions">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Change</a>
                      </div>

                    </header>
                    <div class="app-summary-card__body">



                        <p class="govuk-body">Kevin needs help with:</p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>writing a CV and covering letter</li>
                            <li>sorting housing for release</li>
                          </ul>


        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last Changed on 1 March 2022
          </p>
                    </div>
                  </section> -->

                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Things they have set up already
                      </h2>

                      <div class="app-summary-card__actions">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Change</a>
                      </div>

                    </header>
                    <div class="app-summary-card__body">

                      <p class="govuk-body">Kevin has:</p>
                        <ul class="govuk-list govuk-list--bullet">
                          <li>a bank account</li>
                          <li>a disclosure letter</li>
                          <li>ID</li>
                          <li>interview clothes</li>
                        </ul>

                      <!-- <dl class="govuk-summary-list">

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Bank account
                          </dt>

                        </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disclosure letter
            </dt>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ID
            </dt>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Interview clothes
            </dt>

          </div>



        </dl> -->

        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last updated on 1 March 2022
          </p>


                    </div>
                  </section>

                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Things that might impact their ability to work
                      </h2>

                      <div class="app-summary-card__actions">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Change</a>
                      </div>

                    </header>
                    <div class="app-summary-card__body">

                      <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Drugs or alcohol dependency
            </dt>
            <dd class="govuk-summary-list__value">
              Not able to manage this yet
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mental health
            </dt>
            <dd class="govuk-summary-list__value">
              Able to manage this with support
            </dd>
          </div>
        </dl>

        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last updated on 1 March 2022
          </p>
                    </div>
                  </section>



                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Employment information
                      </h2>



                    </header>
                    <div class="app-summary-card__body">

                      <dl class="govuk-summary-list">

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Has work goals
                          </dt>

                          <dd class="govuk-summary-list__value">
                            Yes
                          </dd>

                          <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="#">
                              Change<span class="govuk-visually-hidden"> previous application number</span>
                            </a>
                          </dd>

                        </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job sectors of interest
            </dt>

            <dd class="govuk-summary-list__value">
              Any sector
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Work or volunteering experience
            </dt>

            <dd class="govuk-summary-list__value">
              Yes
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Work-related qualifications
            </dt>

            <dd class="govuk-summary-list__value">
              CSCS card <br>
              Manual handling
            </dd>

            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>

          </div>

        </dl>

                    </div>
                  </section>

                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Eligibility for support
                      </h2>

                    </header>
                    <div class="app-summary-card__body">

                      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the right to work in the UK
            </dt>

            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Wants support to get work on release
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
        </dl>

                    </div>
                  </section>




                </div>

                <div class="govuk-grid-column-one-third">

                  <aside class="app-related-items" role="complementary">
                    <h2 class="govuk-heading-m" id="subsection-title">
                    Expected release date
                    </h2>


                  <!-- <div class="app-card--grey">
                  <h3 class="govuk-heading-s app-card--grey" style="padding-top: 10px; padding-left:10px;">Expected release date</h3>
                  <p class="govuk-body app-card--grey" style="padding-left:10px; padding-bottom:10px;">1 September 2022</p>
                </div> -->

                <!-- <h3 class="govuk-heading-s">Expected release date</h3> -->
                <p class="govuk-body">1 September 2022</p>

                <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View sentence and release details (opens in a new tab)</a></p>

                  <!-- <h3 class="govuk-heading-s">Release area</h3>
                  <p class="govuk-body">Leeds</p> -->

                  <h3 class="govuk-heading-m">
                    Job sectors of interest
                  </h3>
                  <p class="govuk-body">Any sector</p>
                  <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Change</a></p>

                </aside>
              </div>


        </div>
    </div>
      </main>

{% endblock %}
