{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

          <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

              <a href="/v19/list-support-needed" class="govuk-back-link">Back</a>

          </div>
          <main class="govuk-main-wrapper">

              <div class="header-with-link">
                  <span class="govuk-caption-m">Prisoner number: G2911GD</span>
                  <h1 class="govuk-heading-l">Hall, Kevin</h1>

                  <button class="govuk-button" data-module="govuk-button">
                    Add to work ready list
                  </button>

              </div>

              <nav class="moj-sub-navigation" aria-label="Sub navigation">

                <ul class="moj-sub-navigation__list">
                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="#">Work readiness</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Skills and strengths</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Sentence and release</a>
                  </li>


                </ul>

              </nav>

              <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Work readiness</h1>
                  <!-- <p class="govuk-!-margin-bottom-4 govuk-body-s govuk-hint-s">
                      Last updated on 1 March 2022
                    </p> -->

                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Support needed
                      </h2>

                      <div class="app-summary-card__actions">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Change</a>
                      </div>

                    </header>
                    <div class="app-summary-card__body">

                      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            CV and covering letter
                          </dt>

                        </div>
                        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Housing after release
            </dt>

          </div>

        </dl>
        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last updated on 1 March 2022
          </p>
                    </div>
                  </section>

                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Things they have set up already
                      </h2>

                      <div class="app-summary-card__actions">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Change</a>
                      </div>

                    </header>
                    <div class="app-summary-card__body">

                      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                        <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                            Bank account
                          </dt>

                        </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disclosure letter
            </dt>

          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ID
            </dt>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Interview clothes
            </dt>

          </div>



        </dl>

        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last updated on 1 March 2022
          </p>


                    </div>
                  </section>

                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Things that might impact their ability to work
                      </h2>

                      <div class="app-summary-card__actions">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Change</a>
                      </div>

                    </header>
                    <div class="app-summary-card__body">

                      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Drugs or alcohol dependency
            </dt>
            <dd class="govuk-summary-list__value">
              Not able to manage their condition at this time
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mental health conditions or illnesses
            </dt>
            <dd class="govuk-summary-list__value">
              Stable and managing their condition
            </dd>
          </div>
        </dl>

        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last updated on 1 March 2022
          </p>
                    </div>
                  </section>

                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Eligibility for support
                      </h2>

                    </header>
                    <div class="app-summary-card__body">

                      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the right to work in the UK
            </dt>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Wants support to get work on release
            </dt>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
        </dl>
        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last updated on 1 March 2022
          </p>
                    </div>
                  </section>




                </div>

                <div class="govuk-grid-column-one-third">


                  <div class="app-card--grey">
                  <h3 class="govuk-heading-s app-card--grey" style="padding-top: 10px; padding-left:10px;">Expected release date</h3>
                  <p class="govuk-body app-card--grey" style="padding-left:10px; padding-bottom:10px;">1 September 2022</p>
                </div>

                  <h3 class="govuk-heading-s" style="padding-top: 10px; padding-left:10px;">Release area</h3>
                  <p class="govuk-body" style="padding-left:10px; padding-bottom:10px;">Leeds</p>

                  <h3 class="govuk-heading-s" style="padding-top: 10px; padding-left:10px;">Interested in working in</h3>
                  <p class="govuk-body" style="padding-left:10px; padding-bottom:10px;">Any job sector<br><br> <a href="#" class="govuk-link govuk-link--no-visited-state">Change</a></p>


                  <!-- <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

                  <!-- <h3 class="govuk-heading-s" style="padding-top: 10px; padding-left:10px;">Community Offender Manager</h3>
                  <p class="govuk-body" style="padding-left:10px; padding-bottom:10px;">Stephen Dicks</p>

                  <h3 class="govuk-heading-s" style="padding-top: 10px; padding-left:10px;">Community Offender Manager email address</h3>
                  <p class="govuk-body" style="padding-left:10px; padding-bottom:10px;">stephen.dicks@justice.gov.uk</p> -->
                </div>
                  <!-- <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" style="govuk-!-margin-bottom-3;">
                     View sentence details
                  </a> -->

                  <!-- <h3 class="govuk-heading-m govuk-!-margin-top-6">Neurodiversity</h3>
                  <p class="govuk-body">Dyslexia</p>

                  <h3 class="govuk-heading-m govuk-!-margin-top-6">Learning history</h3>
                  <ul class="govuk-list">
                    <li>
                      <span class="app-!-font-family-tabular-bold govuk-tag govuk-tag--grey govuk-!-margin-right-1">4</span>Total courses
                    </li>
                  <li>
                    <span class="app-!-font-family-tabular-bold govuk-tag govuk-tag--yellow govuk-!-margin-right-1">1</span>In progress
                  </li>
                  <li>
                    <span class="app-!-font-family-tabular-bold govuk-tag govuk-tag--green govuk-!-margin-right-1">2</span>Achieved
                  </li>

                  <li>
                    <span class="app-!-font-family-tabular-bold govuk-tag govuk-tag--red govuk-!-margin-right-1">0</span>Failed
                  </li>
                  <li>
                    <span class="app-!-font-family-tabular-bold govuk-tag govuk-tag--red govuk-!-margin-right-1">1</span>Withdrawn
                  </li>
                </ul>

                <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" style="govuk-!-margin-bottom-3;">
                   View learning history
                </a>

                <h3 class="govuk-heading-m govuk-!-margin-top-6">Work history</h3>

                <h2 class="govuk-heading-s">Work inside prison</h2>

                <ul class="govuk-list">
                  <li>
                    <span class="app-!-font-family-tabular-bold govuk-tag govuk-tag--grey govuk-!-margin-right-1">3</span>Total jobs
                  </li>
                <li>
                  <span class="app-!-font-family-tabular-bold govuk-tag govuk-tag--green govuk-!-margin-right-1">2</span>Current
                </li>
                <li>
                  <span class="app-!-font-family-tabular-bold govuk-tag govuk-tag--yellow govuk-!-margin-right-1">1</span>Previous
                </li>

              </ul>

              <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19" style="govuk-!-margin-bottom-3;">
                 View work history
              </a>
                </div> -->
              </div>




          </main>
    </div>

{% endblock %}
