{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
      <div class="prisoner-profile-breadcrumbs">

  <div class="prisoner-profile-breadcrumbs__breadcrumbs">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-3/dps-home">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-3/profile-tobiasz-niemec">Niemec, Tobiasz</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Learning history</li>
      </ol>
      </div>
  </div>

</div>

    </div>
    <main class="govuk-main-wrapper">

        <div class="header-with-link">
            <h1 class="govuk-heading-l">Learning history</h1>
        </div>



            <!-- <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="fromDate">
                  From
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="fromDate" name="fromDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div>

            <div class="date-picker-container ">
              <div class="govuk-form-group">
                <label class="govuk-label" for="toDate">
                  To
                </label>
              <input class="govuk-input date-input undefined hasDatepicker" id="toDate" name="toDate" type="text" autocomplete="off" placeholder="DD/MM/YYYY" readonly="readonly">
              </div>
            </div> -->

            <!-- <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" onclick="allFilters()"> -->


        <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list"></ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>2</b> of <b>2</b> results</p>
  </nav>
        <!-- table body -->

        <table class="govuk-table" id="learningTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Type</th>
              <th scope="col" class="govuk-table__header app-custom-class">Course name</th>
              <!-- <th scope="col" class="govuk-table__header app-custom-class">Awarding body or organisation</th> -->
              <th scope="col" class="govuk-table__header app-custom-class">Location</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Start date</th>
              <th scope="col" class="govuk-table__header app-custom-class">Planned or actual end date</th>
              <th scope="col" class="govuk-table__header app-custom-class">Guided learning hours</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Status</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body" id="tableBody">
              <!-- Row 1 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Non-accredited
              </td>
              <td class="govuk-table__cell">
                English Skills 2
              </td>
              <td class="govuk-table__cell">
                Virtual Campus
              </td>
              <td class="govuk-table__cell">
                18/04/2021
              </td>
              <td class="govuk-table__cell">
                25/05/2021
              </td>
              <td class="govuk-table__cell">
                64 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--red">
                  Withdrawn
                </strong>
              </td>
            </tr>
            <!-- Row 2 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Non-accredited
              </td>
              <td class="govuk-table__cell">
                English Entry revison club
              </td>
              <td class="govuk-table__cell">
                Virtual Campus
              </td>
              <td class="govuk-table__cell">
                03/02/2021
              </td>
              <td class="govuk-table__cell">
                28/02/2021
              </td>
              <td class="govuk-table__cell">
                55 hours
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Pass
                </strong>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

    </main>
</div>

{% endblock %}
