
{% extends "layout-options.html" %}

{% block pageTitle %}
  Prisoner education scenarios list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">

      <a href="/index" class="govuk-back-link">Back to prototype home</a>



<div class="govuk-!-padding-bottom-6"></div>
<div class="govuk-grid-column-two-thirds">


  <form action="/v3/our-service/prisoner-first/dps-home" method="post" novalidate>
  <div class="govuk-form-group">

    <h2 class="govuk-heading-m">Option 1 - prisoner first</h2>

    <p>The prototype follows the journey of opening our service from the DPS home page and searching for a prisoner.</p>

    <button class="govuk-button" data-module="govuk-button">
      View the prototype
    </button>

    </div>
    </form>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <form action="/v3/our-service/task-first/dps-home" method="post" novalidate>
    <div class="govuk-form-group">

    <h2 class="govuk-heading-m">Option 2 - task first</h2>

      <p>The prototype follows the journey of opening our service from the DPS home page and choosing a task to complete.</p>

    <button class="govuk-button" data-module="govuk-button">
    View the prototype
    </button>
    </form>
    </div>

</div>
</div>


<div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://hmpps-education-design-history.herokuapp.com/">
              Design history
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://trello.com/b/tF4lD7Jr/managing-prisoners-education-skills-work-employment">
              Project Trello
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://github.com/ministryofjustice/hmpps-prisoner-education">
              Prototype Github repository
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>


{% endblock %}
