{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
      <div class="prisoner-profile-breadcrumbs">

  <div class="prisoner-profile-breadcrumbs__breadcrumbs">
    <div class="govuk-breadcrumbs ">
      <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-1/dps-home">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/v2/scenario-1/profile-kevin-hall">Hall, Kevin</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Current courses</li>
      </ol>
      </div>
  </div>

</div>

    </div>
    <main class="govuk-main-wrapper">

        <div class="header-with-link">
            <h1 class="govuk-heading-l">Current courses</h1>
        </div>


            <div style="text-align: right">
              <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">
                Print this page
              </a>
            </div>

        <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">
  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

  <ul class="moj-pagination__list"></ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>1</b> of <b>1</b> results</p>
  </nav>
        <!-- table body -->

        <table class="govuk-table" id="learningTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">Type</th>
              <th scope="col" class="govuk-table__header app-custom-class">Course name</th>
              <th scope="col" class="govuk-table__header app-custom-class">Location</th>
              <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Start date</th>
              <th scope="col" class="govuk-table__header app-custom-class">Planned or actual end date</th>
              <th scope="col" class="govuk-table__header app-custom-class">Guided learning hours</th>
              <!-- <th scope="col" class="govuk-table__header app-custom-class" style="white-space:no-wrap; width:12%">Status</th> -->
            </tr>
          </thead>

          <tbody class="govuk-table__body" id="tableBody">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                BTEC
              </td>
              <td class="govuk-table__cell">
                Level 2 Award in Construction - Carpentry
              </td>
              <td class="govuk-table__cell">
                Hull (HMP)
              </td>
              <td class="govuk-table__cell">
                03/03/2021
              </td>
              <td class="govuk-table__cell">
                29/03/2022
              </td>
              <td class="govuk-table__cell">
                44 hours
              </td>
              <!-- <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--yellow">
                  In progress
                </strong>
              </td> -->
            </tr>
          </tbody>
        </table>

      </div>

    </main>
</div>

{% endblock %}
