{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

      <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
        <div class="prisoner-profile-breadcrumbs">

    <div class="prisoner-profile-breadcrumbs__breadcrumbs">
      <div class="govuk-breadcrumbs ">
        <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/v14/2/profile#tab-6">Eku, Tyler</a></li>
        </ol>
        </div>
    </div>

  </div>

</div>
    </div>

    <main class="govuk-main-wrapper">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">Tyler Eku's unacceptable absences for the last 6 months</h1>
      <h2 class="govuk-body-l govuk-!-font-size-24">30 April 2021 to 31 October 2021</h2>

      <!-- <div style="text-align: right">
        <a href="javascript:window.print()" class="govuk-link print-link govuk-!-display-none-print">
          Print this page
        </a>
      </div> -->

      <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">

    <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

    <ul class="moj-pagination__list">
    <li class="moj-pagination__item  moj-pagination__item--prev">
    <a class="moj-pagination__link" href="#">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>

    <li class="moj-pagination__item moj-pagination__item--active">1</li>

    <li class="moj-pagination__item"><a class="moj-pagination__link" href="/v14/2/unacceptable-absences-pg2">2</a></li>

    <li class="moj-pagination__item  moj-pagination__item--next">
    <a class="moj-pagination__link" href="/v14/2/unacceptable-absences-pg2">Next<span class="govuk-visually-hidden"> set of pages</span></a>
    </li>
    </ul>
    <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>29</b> results</p>
    </nav>

        <!-- table body -->
        <table class="govuk-table" data-module="moj-sortable-table" id="learningTable">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Date</th>
              <th scope="col" class="govuk-table__header app-custom-class" aria-sort="none">Activity</th>
              <th scope="col" class="govuk-table__header app-custom-class">Activity description</th>
              <th scope="col" class="govuk-table__header app-custom-class">Location</th>
              <th scope="col" class="govuk-table__header app-custom-class">Comment</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body" id="tableBody">

            <!-- Row 1 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Thu 7 Oct 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 2 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Sun 3 Oct 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 3 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Sat 2 Oct 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 4 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Fri 1 Oct 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                CONFLICT
              </td>
            </tr>

            <!-- Row 5 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Thu 30 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 6 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Mon 27 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 7 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Sat 25 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                conflict
              </td>
            </tr>

            <!-- Row 8 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Fri 24 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 9 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Thu 23 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                CONFLICT
              </td>
            </tr>

            <!-- Row 10 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Sat 18 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Decline
              </td>
            </tr>

            <!-- Row 11 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Thu 16 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 12 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Mon 13 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                conflict
              </td>
            </tr>

            <!-- Row 13 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Sun 12 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                decline
              </td>
            </tr>

            <!-- Row 14 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Sat 11 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                decline
              </td>
            </tr>

            <!-- Row 15 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Fri 10 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 16 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Sat 4 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Decline
              </td>
            </tr>

            <!-- Row 17 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Fri 3 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 18 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Thu 2 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Conflict
              </td>
            </tr>

            <!-- Row 19 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Wed 1 Sep 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                decline
              </td>
            </tr>

            <!-- Row 20 -->
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Mon 30 Aug 2021
              </td>
              <td class="govuk-table__cell">
              Industries - Food Packing
            </td>
              <td class="govuk-table__cell">
                Workshop 7 HB1 & 3 Single Portions
              </td>
              <td class="govuk-table__cell">
                Ranby (HMP)
              </td>
              <td class="govuk-table__cell">
                Decline
              </td>
            </tr>

              <!-- pagination -->


          </tbody>
        </table>

        <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">

      <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>

      <ul class="moj-pagination__list">
      <li class="moj-pagination__item  moj-pagination__item--prev">
      <a class="moj-pagination__link" href="#">Previous<span class="govuk-visually-hidden"> set of pages</span></a>
      </li>

      <li class="moj-pagination__item moj-pagination__item--active">1</li>

      <li class="moj-pagination__item"><a class="moj-pagination__link" href="/v14/2/unacceptable-absences-pg2">2</a></li>

      <li class="moj-pagination__item  moj-pagination__item--next">
      <a class="moj-pagination__link" href="/v14/2/unacceptable-absences-pg2">Next<span class="govuk-visually-hidden"> set of pages</span></a>
      </li>
      </ul>
      <p class="moj-pagination__results">Showing <b>1</b> to <b>20</b> of <b>29</b> results</p>
      </nav>

        <p class="govuk-body">
        <a href="/v14/2/profile#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
          Return to prisoner profile
        </a>
        </p>

        <!-- <p class="govuk-body">
        <a href="https://docs.google.com/document/d/11fHM5-jdHOqkEH4m2F5Rgalhh--tHAcYm50IyDFJ-aM/edit?usp=sharing" class="govuk-link govuk-link--no-visited-state" target="_blank" data-test="recent-search-link">
          Give feedback on this page (opens in a new tab)
        </a>
        </p> -->

        <div class="app-contact-panel">

  <h2 class="app-contact-panel__heading">This is a new page
  </h2>

  <p class="govuk-body app-contact-panel__body">
  <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://docs.google.com/document/d/11fHM5-jdHOqkEH4m2F5Rgalhh--tHAcYm50IyDFJ-aM/edit?usp=sharing"> Give feedback to help us improve it (opens in a new tab)</a>.
  </p>
  </div>
      </div>
  </div>

  <div class="feedback-banner" data-test="feedback-banner">
  <a href="#" class="govuk-link govuk-link--inverse" target="_blank" rel="noopener noreferrer">
  Give feedback on Digital Prison Services (opens in a new tab)
  </a>
</div>

    </main>
</div>

{% endblock %}
