{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

          <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

              <a href="/v19/list-support-needed" class="govuk-back-link">Back to 'Get ready' list</a>

          </div>
          <main class="govuk-main-wrapper">

              <form method="post" action="/v19/confirm-work-ready-decision">

              <div class="header-with-link">
                  <span class="govuk-caption-m">Prisoner number: G2911GD</span>
                  <h1 class="govuk-heading-l">Kevin Hall's work readiness profile </h1>

                  <button class="govuk-button" data-module="govuk-button">
                    Add to ready to work list
                  </button>

              </div>

              <nav class="moj-sub-navigation" aria-label="Sub navigation">

                <ul class="moj-sub-navigation__list">
                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/support-needed/v2/case-work-readiness">Overview</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/support-needed/v2/case-work-readiness-to-do-list">To-do list</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link"  href="/v19/profile/support-needed/v2/case-work-readiness-personal-details">Personal details</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/support-needed/v2/case-work-readiness-skills">Skills and activities</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="#">Contacts</a>
                  </li>


                </ul>

              </nav>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Contacts</h1>

                  </div>
                </div>

                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">



                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Community Probation Practitioner
                      </h2>


                    <!-- <div class="app-summary-card__actions">
                        <a class="govuk-link govuk-link--no-visited-state" href="#">
                          View more details (opens in a new tab)</a>
                    </div> -->

                            </header>
                    <div class="app-summary-card__body">

                  <div class="govuk-hint">
                    Sometimes called a Community Offender Manager (COM).
                  </div>

                      <dl class="govuk-summary-list">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Leanne Greenwood
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              leanne.greenwood@test.gov.uk
            </dd>
          </div>


        </dl>

                    </div>



                </div>




        </div>
    </div>
  </form>
      </main>

{% endblock %}
