{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">

  <a href="#" onclick="history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" method="post" novalidate>

          <h1 class="govuk-heading-l">You must now complete {% if data['prisoner-name'] == 'RD' %}Robert Daniels's {% elseif data['prisoner-name'] == 'LB' %}Lee Baron's {% else %}Kevin Hall’s {% endif %}work assessment</h1>

          {% if data['prisoner-name'] == 'RD' %}
          <p class="govuk-body">You’ve told us Robert Daniels{% if data['status'] == 'Ready to work' %} is now ready to work{% else %} now needs support{% endif %}.</p>
          {% elseif data['prisoner-name'] == 'LB' %}
          <p class="govuk-body">You’ve told us Lee Baron{% if data['status'] == 'Ready to work' %} is now ready to work{% else %} now needs support{% endif %}.</p>
          {% else %}
          <p class="govuk-body">You’ve told us Kevin Hall{% if data['status'] == 'Ready to work' %} is now ready to work{% else %} now needs support{% endif %}.</p>
          {% endif %}

          <p class="govuk-body">To make sure they get the right support getting into work, the rest of the work assessment must be completed and added to their profile.</p>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>

       </div>

  </main>

</div>

</div>

{% endblock %}
