{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">

      <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
        <div class="prisoner-profile-breadcrumbs">

          <div class="prisoner-profile-breadcrumbs__breadcrumbs">
            <div class="govuk-breadcrumbs ">
              <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Digital Prison Services</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/v15/1/profile#tab-6">Eku, Tyler</a></li>
              </ol>
              </div>
          </div>

          </div>

        </div>
      </div>


        <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">

    <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Employability skills</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="/v15/1/adaptability-subnav">Adaptability</a>
        </li>

        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="#2">Communication</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/v15/1/creativity-subnav">Creativity</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/v15/1/initiative-subnav">Initiative</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/v15/1/organisation-subnav">Organisation</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/v15/1/planning-subnav">Planning</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/v15/1/problem-solving-subnav">Problem solving</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/v15/1/reliability-subnav">Reliability</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/v15/1/teamwork-subnav">Team working</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/v15/1/timekeeping-subnav">Timekeeping</a>
        </li>
      </ul>
    </nav>

    </div>

  <div class="govuk-grid-column-three-quarters">

  <h1 class="govuk-heading-l govuk-!-padding-top-4 govuk-!-padding-bottom-4">Tyler Eku's assessments for 'communication'</h1>

  <p class="govuk-body">'Communication' includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>speaking to people in an appropriate way</li>
      <li>listening to others</li>
      <li>taking part in group discussions</li>
      <li>explaining their point of view in a respectful way</li>
    </ul>

    <nav class="moj-pagination govuk-!-font-size-19" id="pagination-label">

  <p class="govuk-visually-hidden" aria-labelledby="pagination-label">Pagination navigation</p>


  <p class="moj-pagination__results" style="float: right">Showing <b>1</b> result</p>
  </nav>


    <table class="govuk-table" data-module="moj-sortable-table" >
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Level</th>
        <th scope="col" class="govuk-table__header app-custom-class" aria-sort="ascending">Assessment date</th>
        <!-- <th scope="col" class="govuk-table__header">Assessed by</th> -->
        <th scope="col" class="govuk-table__header">Comment</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">1 - Not demonstrated - No evidence provided</th>
        <td class="govuk-table__cell">26/11/2021</td>
        <!-- <td class="govuk-table__cell">Joe Bloggs</td> -->
        <td class="govuk-table__cell">Tyler shows very little evidence of communication skills and appropriate behaviour towards others</td>
      </tr>
    </tbody>
  </table>

  <p class="govuk-body">
  <a href="/v15/1/profile#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
    Return to prisoner profile
  </a>
  </p>

  <!-- <div class="app-contact-panel">

  <h2 class="app-contact-panel__heading">This is a new page</h2>

  <p class="govuk-body app-contact-panel__body">
  <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://docs.google.com/document/d/11fHM5-jdHOqkEH4m2F5Rgalhh--tHAcYm50IyDFJ-aM/edit?usp=sharing"> Give feedback to help us improve it (opens in a new tab)</a>.
  </p>

  </div> -->

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--invisible">

  </div>

  <div class="govuk-grid-column-full">


  <div class="feedback-banner" data-test="feedback-banner">
  <a href="#" class="govuk-link govuk-link--inverse" target="_blank" rel="noopener noreferrer">
  Give feedback on Digital Prison Services (opens in a new tab)
  </a>
</div>

</div>





  </div>

  </div>





{% endblock %}
