
{% extends "layout-index.html" %}

{% block pageTitle %}
  Prisoner education prototype index
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">


<div class="govuk-!-padding-bottom-6"></div>
<div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m">The journey we will be testing:</h2>
  <ul class="govuk-list">
  <li>
    DPS home page
  </li>
  <li>
    DPS search results page
  </li>
  <li>
    DPS prisoner profile page
  </li>
</ul>


<h2 class="govuk-heading-m">Pages outstanding</h2>
<ul class="govuk-list govuk-list--bullet">
<li>
  <p>All 7 variations of profile pages for the different scenarios</p>
</li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
<h2 class="govuk-heading-xl">Scenarios for user testing</h2>

  <form action="/v2/scenario-1/dps-home" method="post" novalidate>
  <div class="govuk-form-group">

    <span class="govuk-caption-l">Prison Offender Manager</span>
    <h2 class="govuk-heading-l">Scenario 1</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>You are preparing to represent a prisoner at a parole board
      </li>
      <li>You have a very high caseload
      </li>
      <li>You were recently allocated to this individual and do not know them well
      </li>
    </ul>

    <h2 class="govuk-heading-m">Prisoner details</h2>
    <p><span class="govuk-body govuk-!-font-weight-bold">Kevin Hall</span><br>Male, 42 years old</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>4 years into an indeterminate sentence
      </li>
      <li>His parole board is scheduled for 6 months time
      </li>
      <li>He has work experience in the prison as kitchen staff
      </li>
    </ul>

    <h2 class="govuk-heading-m">Task</h2>
    <p>How would you gather information about Kevin's progress and achievements?</p>

    <button class="govuk-button" data-module="govuk-button">
      Test prototype
    </button>

    </div>
    </form>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<form action="/v2/scenario-2/dps-home" method="post" novalidate>
<div class="govuk-form-group">

    <span class="govuk-caption-l">Activities Manager</span>
    <h2 class="govuk-heading-l">Scenario 2</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>You have received a request to set up activities for a new prisoner
      </li>
      <li>They are currently doing their education induction
      </li>
      <li>You've never met this individual before
      </li>
    </ul>

    <h2 class="govuk-heading-m">Prisoner details</h2>
    <p><span class="govuk-body govuk-!-font-weight-bold">Paul Davey</span><br>Male, 36 years old</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>First time in prison
      </li>
      <li>His sentence is 18 months
      </li>
    </ul>

    <h2 class="govuk-heading-m">Task</h2>
    <p>How would you allocate Paul to appropriate activities?</p>


    <button class="govuk-button" data-module="govuk-button">
  Test prototype
</button>
  </form>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



<!-- <span class="govuk-caption-l">Prison Offender Manager (POM)</span>
<h2 class="govuk-heading-l">Scenario X</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>You have been allocated a prisoner who has transferred from another prison
  </li>
  <li>You do not know this individual well and have only met them once
  </li>
</ul>

<h2 class="govuk-heading-m">Prisoner details</h2>
<p><span class="govuk-body govuk-!-font-weight-bold">Tobiasz Niemec</span><br>Male, 25 years old</p>
<ul class="govuk-list govuk-list--bullet">
  <li>He is a foreign national with poor English
  </li>
  <li>He has transferred from a Cat B to a Cat C prison
  </li>
  <li>He started an English course at his previous prison and needs to continue them but can't be bothered
  </li>
</ul>

<h2 class="govuk-heading-m">Task</h2>
<p>How would you ensure Tobiasz continues his English course?</p>

<button class="govuk-button" data-module="govuk-button">
Test prototype
</button> -->




</div>
</div>


<div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://hmpps-education-design-history.herokuapp.com/">
              Design history
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://trello.com/b/tF4lD7Jr/managing-prisoners-education-skills-work-employment">
              Project Trello
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://github.com/ministryofjustice/hmpps-prisoner-education">
              Prototype Github repository
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>


{% endblock %}
