
{% extends "layout-index.html" %}

{% block pageTitle %}
  Prisoner education prototype index
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">


<div class="govuk-!-padding-bottom-6"></div>
<div class="govuk-grid-column-two-thirds">


<h2 class="govuk-heading-l index-box">Work readiness</h2>

  <h2 class="govuk-heading-m">latest (v23)</h2>
    <p class="govuk-body">Not ready for UR.</p>

    <a href="/v23/setup" class="govuk-button">View prototype</a>

    <!-- <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Details of working scenarios
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          Scenario 1 - Kevin Hall is the only working prisoner profile and only working route on the 'create profile/checklist journey'
        </p>
        <p class="govuk-body">
          Scenario 2 - Kevin Hall is an example of a prisoner profile that is iin progress. Choose Damien Adams to see a blank profile, and enter into the 'checklist' journey.
        </p>
      </div>
    </details> -->


<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


  <h2 class="govuk-heading-m">Entry points redesign and content review (v22)</h2>
    <p class="govuk-body">2 new designs for the start of the service.</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Idea 1 - simplified the 'create' and 'view existing' tile approach</li>
        <li>Idea 2 - list view as the homepage, assumes everyone has a profile just at different stages</li>
      </ul>

    <a href="/v22/setup" class="govuk-button">View prototype</a>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Details of working scenarios
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">
          Scenario 1 - Kevin Hall is the only working prisoner profile and only working route on the 'create profile/checklist journey'
        </p>
        <p class="govuk-body">
          Scenario 2 - Kevin Hall is an example of a prisoner profile that is iin progress. Choose Damien Adams to see a blank profile, and enter into the 'checklist' journey.
        </p>
      </div>
    </details>


<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


  <h2 class="govuk-heading-m">'Get someone ready to work' service idea 2nd iteration (v20)</h2>
    <p class="govuk-body">Making changes based on previous round of usability testing</p>
    <p class="govuk-body">Note: not all changes from UR implemented</p>
    <a href="/v20/dps-home" class="govuk-button">View prototype</a>

    <p class="govuk-body">
      <a href="/v20/checklist/start-page" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
        Checklist ('Create a work readiness profile for a prisoner')
      </a>
    </p>


<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


  <h2 class="govuk-heading-m">'Get someone work ready' service idea (v19)</h2>
    <p class="govuk-body">Initial designs that were tested with 3 users (EA's) w/c 7th March.</p>
    <a href="/v19/dps-home" class="govuk-button">View prototype</a>

    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Links into different scenarios
      </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">
          <a href="/v19/dps-home" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
            Entering the service from a DPS tile
          </a>
        </p>
        <p class="govuk-body">
          <a href="/v19/checklist/start-page" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
            Checklist ('Create a work readiness profile for a prisoner')
          </a>
        </p>
        <p class="govuk-body">
          <a href="/v19/list-support-needed" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
            View 'get ready' list
          </a>
        </p>
        <p class="govuk-body">
          <a href="/v19/list-declined-support" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
            View 'prisoners who do not want support' list
          </a>
        </p>
        <p class="govuk-body">
          <a href="/v19/list-work-ready" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
            View 'ready to work' list
          </a>
        </p>
        <p class="govuk-body">
          <a href="/v19/profile/support-needed/v2/case-work-readiness" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
            View a work readiness profile for a prisoner
          </a>
        </p>
        <p class="govuk-body">
          <a href="/v19/profile/support-needed/case-work-readiness" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
            Alternative version: view a work readiness profile for a prisoner (with to-do list in first tabe)
          </a>
        </p>
        <p class="govuk-body">
          <a href="/v19/profile/support-needed/case-work-readiness-archive" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
            Alternative version: view a work readiness profile for a prisoner (without a to-do list)
          </a>
        </p>
        <p class="govuk-body">
          <a href="/v19/case-work-readiness-v2" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
            Alternative version: view a work readiness profile for a prisoner (without tabs)
          </a>
        </p>
      </div>
    </details>


<h2 class="govuk-heading-l index-box govuk-!-margin-top-9">DPS prisoner profile</h2>


  <h2 class="govuk-heading-m">Add neurodiversity indicator to DPS prisoner profile (v21)</h2>
    <p class="govuk-body">Live end of April 2022. Adding 'support needed' to top section of profile if prisoner has neurodiversity info recorded on Curious.</p>
    <a href="/v21/profile" class="govuk-button" data-test="recent-search-link">View prototype</a>

    <!-- <p class="govuk-body">
      <a href="https://miro.com/app/board/uXjVOGIJEOI=/?invite_link_id=553462056996" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
        View sketches and ideation board (opens in miro)
      </a>
    </p> -->
    <!-- <p class="govuk-body">Concern: do not know whether it is possible to link directly to an accordion. Need to check with developer. <a href="https://github.com/alphagov/govuk-frontend/issues/1581" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
    View issue on govuk-frontend (opens in github)
    </a></p> -->
    <p class="govuk-body">
      <a href="/v21/profile-no-data" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
      Do not display 'support needed' section when prisoner has no neurodiversity info
      </a>
    </p>


<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


  <h2 class="govuk-heading-m">Show neurodiversity needs on the DPS prisoner profile (v18)</h2>
    <p class="govuk-body">Live 28th Feb 2022. Not user tested yet.</p>

    <a href="v18/profile#tab-2" class="govuk-button">View prototype</a>
    <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Links into different scenarios
      </span>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body">
        <a href="/v18/profile-missing-data-1#tab-2" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
          View an example where self-declared information is missing
        </a>
      </p>
      <p class="govuk-body">
        <a href="/v18/profile-missing-data#tab-2" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
          View an example where assessed information is missing
        </a>
      </p>
      <p class="govuk-body">
        <a href="/v18/profile-no-data#tab-2" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
          View an example where there is no information recorded in Curious
        </a>
      </p>
      <p class="govuk-body">
        <a href="https://docs.google.com/document/d/185Bym72umWVZ_ICegALTYSKPKy2emUnz4IJ5QeuRt3g/edit?usp=sharing" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
          View content document with all scenarios
        </a>
      </p>
    </div>
  </details>


<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">


<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


<h2 class="govuk-heading-m">Archive</h2>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        View archived prototypes
      </span>
    </summary>
    <div class="govuk-details__text">


    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <!-- <h2 class="govuk-heading-m">Assess work readiness transactional service (v16, v17)</h2>

    <p class="govuk-body-lead">Ideas in progress.</p>

    <p class="govuk-body">
    <a href="/v16/dps-home" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
      Our first idea: search, complete assessment, view completed assessment (v16)
    </a>
    </p>

    <p class="govuk-body">
    <a href="/v17/assessment" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
      Second iteration: bare bones version of viewing a completed assessment (v17)
    </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l"> -->

    <h2 class="govuk-heading-m">View employability skills (v15)</h2>

    <p class="govuk-body-lead">Live. Usability tested week commencing 13th December.</p>

    <a href="/v15/1/profile" class="govuk-button">View prototype</a>


    <p class="govuk-body">
    <a href="/v15/2/profile#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
      View alternative option: all skills, segment by assessment date
    </a>
    </p>



    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-m">Iteration to attendance (v14)</h2>

    <p class="govuk-body-lead">Live.</p>

    <a href="v14/2/profile" class="govuk-button">View prototype</a>

    <p class="govuk-body">
    <a href="/v14/2/profile-hint-text" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
      View iterated version with hint text explaining data sources
    </a>
    </p>


    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-m">Iteration for testing at HMP Norwich (v13)</h2>

    <p class="govuk-body-lead">Second iteration of displaying attendance information. User tested remotely with HMP Norwich.</p>

    <a href="v13/scenarios-list" class="govuk-button">Choose a persona</a>



    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-m">Prototype for October release (v9)</h2>

    <p class="govuk-body-lead">Version for use in dev tickets for the October MVP release.</p>

    <a href="v9/profile" class="govuk-button">View prototype</a>


    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-m">Adding attendance to the work and skills tab (v10)</h2>

    <p class="govuk-body-lead">First iteration of adding attendance information. User tested remotely with HMP Elmley.</p>

    <a href="v10/profile" class="govuk-button">View prototype</a>

    <p class="govuk-body">
    <a href="/v12/profile" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
      View iterated version following UR
    </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <h2 class="govuk-heading-m">Design iteration for usability testing at HMP New Hall (v8)</h2>

    <p class="govuk-body-lead">Version with iteration to work details page and feedback links.</p>

    <a href="v8/profile" class="govuk-button">View prototype</a>



    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Design iteration for usability testing at HMP Berwyn (v7)</h2>

    <p class="govuk-body-lead">Version with iteration to work details page and feedback links.</p>

    <a href="v7/profile" class="govuk-button">View prototype</a>


    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Preparing for October release (v5)</h2>

    <p class="govuk-body-lead">Version to prepare for October MVP release and scenarios when data is missing.</p>

    <a href="v5/profile-kevin-hall" class="govuk-button">View prototype</a>

    <p class="govuk-body">
    <a href="/v5/missing-data/profile-kevin-hall-blank-accordions#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
      View version with empty accordions
    </a>
    </p>

    <p class="govuk-body">
    <a href="/v5/missing-data/profile-kevin-hall#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
      View version with missing data fields
    </a>
    </p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Alpha - updated design for user testing at HMP Winchester (v4)</h2>

    <p class="govuk-body-lead">Updated journey for testing with the following users in prisons: Prison Offender Managers, Activity Managers, and Key Workers.</p>

    <p class="govuk-body-lead">The prototype follows the journey of searching for prisoner on DPS and viewing their profile. We have updated the 'Work and skills' tab within the profile, and we are showing neurodiversity information within the 'Personal' tab.</p>

    <a href="v4/dps-home" class="govuk-button">Test prototype</a>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">


    <h2 class="govuk-heading-m">Alpha - design for user testing at HMP Bristol (v3)</h2>

    <p class="govuk-body-lead">MVP for displaying education, skills, and work information within the existing DPS prisoner profile page</p>

    <p class="govuk-body-lead">We have created 6 scenarios for testing with the following users in prisons: Prison Offender Managers, Activity Managers, and Key Workers.</p>

    <p class="govuk-body-lead">The prototype follows the journey of searching for prisoner on DPS and viewing their profile. We have added a new 'Work and skills' tab within the profile, and we are showing neurodiversity information within the 'Personal' tab.</p>

    <a href="v3/scenarios-list" class="govuk-button">Choose a scenario</a>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Alpha - post October MVP for our service area</h2>

    <p class="govuk-body-lead">We are exploring a task based service area.</p>

    <p class="govuk-body-lead">We want to validate whether a task first or a prisoner first journey into the service is the right approach, and whether these are the tasks users would find most useful.</p>

    <a href="/v3/our-service-options-list" class="govuk-button">View the options</a>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  </div>
  </details>

</div>
</div>


<div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://hmpps-education-design-history.herokuapp.com/">
              Design history
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://github.com/ministryofjustice/hmpps-prisoner-education">
              Prototype Github repository
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/secure/RapidBoard.jspa?rapidView=699">
              ESWE design Jira board
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/wiki/spaces/ESWE/pages/3497066589/Design+space">
              ESWE Confluence space
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://drive.google.com/drive/folders/1j7tUK_I4LouKz5vjuuU6dXdU5SBlXRU5?usp=sharing">
              ESWE Google Drive
            </a>
          </li>

        </ul>
      </nav>
    </aside>

  </div>


{% endblock %}
