
{% extends "layout-index.html" %}

{% block pageTitle %}
  Prisoner education prototype index
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">


<div class="govuk-!-padding-bottom-6"></div>
<div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m">Prototype for October release (v5)</h2>

  <p class="govuk-body-lead">Version for use in dev tickets for the October MVP release.</p>

  <a href="v5/profile-kevin-hall" class="govuk-button">View prototype</a>

  <p class="govuk-body">
  <a href="/v5/missing-data/profile-kevin-hall-blank-accordions#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
    View version with empty accordions
  </a>
  </p>

  <p class="govuk-body">
  <a href="/v5/missing-data/profile-kevin-hall#tab-6" class="govuk-link govuk-link--no-visited-state" data-test="recent-search-link">
    View version with missing data fields
  </a>
  </p>



  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  <h2 class="govuk-heading-m">Alpha - updated design for user testing at HMP Winchester (v4)</h2>

  <p class="govuk-body-lead">Updated journey for testing with the following users in prisons: Prison Offender Managers, Activity Managers, and Key Workers.</p>

  <p class="govuk-body-lead">The prototype follows the journey of searching for prisoner on DPS and viewing their profile. We have updated the 'Work and skills' tab within the profile, and we are showing neurodiversity information within the 'Personal' tab.</p>

  <a href="v4/dps-home" class="govuk-button">Test prototype</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">


  <h2 class="govuk-heading-m">Alpha - design for user testing at HMP Bristol (v3)</h2>

  <p class="govuk-body-lead">MVP for displaying education, skills, and work information within the existing DPS prisoner profile page</p>

  <p class="govuk-body-lead">We have created 6 scenarios for testing with the following users in prisons: Prison Offender Managers, Activity Managers, and Key Workers.</p>

  <p class="govuk-body-lead">The prototype follows the journey of searching for prisoner on DPS and viewing their profile. We have added a new 'Work and skills' tab within the profile, and we are showing neurodiversity information within the 'Personal' tab.</p>

  <a href="v3/scenarios-list" class="govuk-button">Choose a scenario</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  <h2 class="govuk-heading-m">Alpha - post October MVP for our service area</h2>

  <p class="govuk-body-lead">We are exploring a task based service area.</p>

  <p class="govuk-body-lead">We want to validate whether a task first or a prisoner first journey into the service is the right approach, and whether these are the tasks users would find most useful.</p>

  <a href="/v3/our-service-options-list" class="govuk-button">View the options</a>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">



</div>
</div>


<div class="govuk-grid-column-one-third">

    <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://hmpps-education-design-history.herokuapp.com/">
              Design history
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://github.com/ministryofjustice/hmpps-prisoner-education">
              Prototype Github repository
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/secure/RapidBoard.jspa?rapidView=699">
              ESWE design Jira board
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/wiki/spaces/ESWE/pages/3497066589/Design+space">
              ESWE Confluence space
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://drive.google.com/drive/folders/1j7tUK_I4LouKz5vjuuU6dXdU5SBlXRU5?usp=sharing">
              ESWE Google Drive
            </a>
          </li>
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="https://miro.com/app/board/o9J_lK8aQyQ=/">
              Early design concepts in Miro
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>


{% endblock %}
