{% extends "./includes/template.html" %}

{% block content %}
<div class="govuk-width-container">
    <div class="govuk-breadcrumbs govuk-!-margin-top-6 ">
        <ol class="govuk-breadcrumbs__list">

            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="../../dps-home">Digital Prison Services</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                Armstrong, Dylan Adam
            </li>
        </ol>
    </div>
    <main class="govuk-main-wrapper">

        <div class="header-with-link">
            <h1 class="govuk-heading-l">Armstrong, Dylan Adam</h1>
        </div>

        <div class="prisoner-header">
            <div class="prisoner-header__image-container">
                    <img src="/public/images/dylan-photo.jpg" alt="Picture of Dylan" class="prisoner-image">
            </div>
            <div class="prisoner-header__details">
                <div class="prisoner-header__details__alerts">
                </div>
                <ul class="prisoner-header__details__information">
                    <li class="nomis ID">
                        <strong>Prison number</strong>
                        <br>
                        <span data-test="G2911GD">
                        G2911GD
                        </span>
                    </li>

                    <li class="category">
                        <strong>Category </strong>
                        <br>
                        <span data-test="Cat C">
                        <span>
                        Cat C
                        </span>
                        <br>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">View category</a>
                        </span>
                      </li>

                      <li class="incentive level">
                          <strong>Incentive level</strong>
                          <br>
                          <span data-test="standard">
                          <span>
                          Standard
                          </span>
                          <br>
                          <a href="#" class="govuk-link govuk-link--no-visited-state">View details</a>
                          </span>
                        </li>

                    <li class="location">
                        <strong>Location</strong>
                        <br>
                        <span data-test="D-4-027">
                        <span>D-4-027<br>Hull (HMP)</span>
                        <br>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">View details</a>
                        </span>
                    </li>

                    <li class="CSRA">
                        <strong>CSRA</strong>
                        <br>
                        <span data-test="Standard">
                    Standard - 01/06/2021
                    <br>
                    <a href="#" class="govuk-link govuk-link--no-visited-state">View details</a>
                    </span>
                    </span>
                    </li>


                    <li class="Alerts">
                        <strong>Alerts</strong>
                        <br>
                        <span data-test="1 active alert">
                        1 active, 0 inactive
                        <br>
                        <a href="#" class="govuk-link govuk-link--no-visited-state">View alerts</a>
                        </span>
                    </li>

                    <li class="Key worker">
                        <strong>Key worker</strong>
                        <br>
                        <span data-test="last-session">
                        Terry King
                        </span>
                        <br>
                        <strong>Last session</strong>
                        <br>
                        <span data-test="last-session">
                        No previous session
                        </span>
                    </li>

                    <li class="POM">
                        <strong>Prison Offender Manager</strong>
                        <br>
                        <span data-test="">
                        Molly Metcalfe
                        </span>
                    </li>
                </ul>

                <div class="prisoner-header__details__actions">


      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--link govuk-!-margin-bottom-3" data-module="govuk-button">
        Add a case note
      </a>


    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--link govuk-!-margin-bottom-3" data-module="govuk-button">
      Add an appointment
    </a>

        </div>

            </div>
        </div>

        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#tab-1">
                Quick look
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#tab-2">
                Personal
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#tab-3">
                Alerts
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#tab-4">
                Case notes
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#tab-4">
                Sentence and release
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#tab-4">
                Learning and skills
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#tab-4">
                Goals
              </a>
            </li>
          </ul>

<!--First tab of profile page-->

          <div class="govuk-tabs__panel" id="tab-1">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <div class="govuk-!-margin-bottom-6">
                <h3 class="govuk-heading-m">Offences</h3>

                <div data-test="offender-offences">
                  <dl class="govuk-summary-list govuk-!-margin-bottom-2" data-test="offence-summary">
                    <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Main offence
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Robbery
                    </dd>
                    </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Imprisonment status
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Adult Imprisonment Without Option CJA03
                  </dd>

                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Release date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    24/11/2022
                  </dd>

                </div>
                </dl>
                <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">View sentence and release details</a>

              </div>

            </div>
          </div>


    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-6">
        <h3 class="govuk-heading-m">Finances</h3>
        <div data-test="offender-balances">

          <dl class="govuk-summary-list govuk-!-margin-bottom-2" data-test="money-summary">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Spends
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="govuk-link govuk-link--no-visited-state">£0.00</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Private cash
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="govuk-link govuk-link--no-visited-state">£25.00</a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Savings
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="govuk-link govuk-link--no-visited-state">£0.00</a>
            </dd>
          </div>


        </dl>
      </div>
      </div>
    </div>
    </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-6">
        <h3 class="govuk-heading-m">Incentives and adjudications in last 3 months</h3>

  <div data-test="incentives-and-adjudications">

    <dl class="govuk-summary-list govuk-!-margin-bottom-2" data-test="incentives-summary">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Incentive level warnings
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Incentive encouragements
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Last incentive level review
        </dt>
        <dd class="govuk-summary-list__value">
          25 days ago
        </dd>
      </div>

    </dl>

    <a href="#" class="govuk-link govuk-link--no-visited-state govuk-body govuk-!-margin-bottom-2 govuk-!-display-inline-block" data-test="incentive-details-link">View incentive level details</a>

    <dl class="govuk-summary-list govuk-!-margin-bottom-2" data-test="adjudications-summary">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Proven adjudications
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Active adjudications
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">No active awards</p>
        </dd>
      </div>

    </dl>

  <a href="#" class="govuk-link govuk-link--no-visited-state govuk-body" data-test="adjudication-history-link">View adjudication history</a>

      </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-6">
        <h3 class="govuk-heading-m">Visits</h3>

        <div data-test="visit-details">
          <dl class="govuk-summary-list govuk-!-margin-bottom-2" data-test="visits-summary">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Remaining visits
        </dt>
        <dd class="govuk-summary-list__value">
          26
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Remaining privileged visits
        </dt>
        <dd class="govuk-summary-list__value">
          0
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Next visit date
        </dt>
        <dd class="govuk-summary-list__value">
          No upcoming visits
        </dd>
      </div>
      </dl>
      </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-margin-bottom-6">
        <h3 class="govuk-heading-m">Personal information</h3>
<div data-test="personal-details">

<dl class="govuk-summary-list govuk-!-margin-bottom-2" data-test="personal-info-summary">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Age
        </dt>
        <dd class="govuk-summary-list__value">
          36
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nationality
        </dt>
        <dd class="govuk-summary-list__value">
          British
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          PNC number
        </dt>
        <dd class="govuk-summary-list__value">
          95/508700E
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          CRO number
        </dt>
        <dd class="govuk-summary-list__value">
          008252/96V
        </dd>
      </div>

      <!--New addition by including LDD on Quick Look-->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Learning difficulties and disabilities (LDD)
        </dt>
        <dd class="govuk-summary-list__value">
          Autistic spectrum disorder
          <br>
          Dyslexia
        </dd>
      </div>

    </dl>
    </div>
      </div>
    </div>

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-m">Schedule</h3>
      <div data-test="schedules">
        <dl class="govuk-summary-list govuk-!-margin-bottom-2" data-test="schedule-summary">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Morning
        </dt>
        <dd class="govuk-summary-list__value">
          <div class="">
                <strong>AWAITING INDUCTION</strong>
                <span></span>
                <div>
                  08:15
                   to 11:45
                </div>
              </div>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Afternoon
        </dt>
        <dd class="govuk-summary-list__value">
          <div class="">
                <strong>AWAITING INDUCTION</strong>
                <span></span>
                <div>
                  14:00
                   to 16:45
                </div>
              </div>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Evening
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body">Nothing scheduled</p>
        </dd>
      </div>
</dl>

        <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19">
           View 7 day schedule
        </a>
      </div>
    </div>
  </div>

  <div class="prisoner-footer">
    <p class="govuk-body" data-test="data-retention-record-details">
      <strong>Prevent removal of this offender record:</strong>
      Not set -
      <a href="#" class="govuk-link govuk-link--no-visited-state">
        Update
      </a>
    </p>
  </div>

          </div>

<!--Second tab of profile page-->

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-2">
                        <h2 class="govuk-heading-l">Personal details</h2>
            <div data-test="personal-summary">

            <dl class="govuk-summary-list">

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Name
                </dt>
                <dd class="govuk-summary-list__value">
                  Ben James
                </dd>

              </div>


                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      13 August 1991
                    </dd>

                  </div>



                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Age
                    </dt>
                    <dd class="govuk-summary-list__value">
                      29
                    </dd>

                  </div>



                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Nationality
                    </dt>
                    <dd class="govuk-summary-list__value">
                      British
                    </dd>

                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Ethnicity
                    </dt>
                    <dd class="govuk-summary-list__value">
                      White: Eng./Welsh/Scot./N.Irish/British (W1)
                    </dd>

                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Last known address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      12 Seaside Parade, Whitby, YO10 3HP
                    </dd>

                  </div>


                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Disabilities
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Not entered
                    </dd>
                  </div>

                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Tattoos or scars
                      </dt>
                      <dd class="govuk-summary-list__value">
                        Not entered
                      </dd>
</div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Smoker or vaper
                      </dt>
                      <dd class="govuk-summary-list__value">
                        No
                      </dd>

                  </div>


            </dl>

              </div>

          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-3">
            <h2 class="govuk-heading-l">Risk information</h2>
            <table class="govuk-table fixed-table" data-qa="inactive-alerts-table">


      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header">Type of risk</th>

          <th scope="col" class="govuk-table__header">Details</th>

          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Comments</th>

          <th scope="col" class="govuk-table__header">Date from /<br>date closed</th>

          <th scope="col" class="govuk-table__header">Added by /<br>closed by</th>

        </tr>
      </thead>

      <tbody class="govuk-table__body">


            <tr class="govuk-table__row">



              <td class="govuk-table__cell"
              >Self Harm (H)</td>




              <td class="govuk-table__cell"
              >ACCT Post Closure (HMPS) (HA1)</td>




              <td class="govuk-table__cell clip-overflow"
              >None</td>




              <td class="govuk-table__cell"
              >25 November 2016<br>30 November 2016</td>




              <td class="govuk-table__cell"
              >Ben Stewart<br>Ben Stewart</td>


            </tr>



            <tr class="govuk-table__row">



              <td class="govuk-table__cell"
              >Self Harm (H)</td>




              <td class="govuk-table__cell"
              >ACCT Closed (HMPS) (HA2)</td>




              <td class="govuk-table__cell clip-overflow"
              >None</td>




              <td class="govuk-table__cell"
              >23 November 2016<br>25 November 2016</td>




              <td class="govuk-table__cell"
              >Ben Stewart<br>Ben Stewart</td>


            </tr>


      </tbody>
    </table>

          </div>

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-4">
            <h2 class="govuk-heading-l">Reception notes</h2>
              <a onclick="showAlert()" href="#" class="govuk-button govuk-!-margin-bottom-3" data-module="govuk-button" rel="noopener noreferrer">
                  Add reception note
              </a>
            <!--<table class="govuk-table">-->
              <!--<thead class="govuk-table__head">-->
                <!--<tr class="govuk-table__row">-->
                  <!--<th scope="col" class="govuk-table__header app-custom-class">Created</th>-->
                  <!--<th scope="col" class="govuk-table__header app-custom-class">Note</th>-->
                <!--</tr>-->
              <!--</thead>-->
              <!--<tbody class="govuk-table__body">-->
              <!--</tbody>-->
            <!--</table>-->
          </div>
        </div>

    </main>
</div>

{% endblock %}
