{% extends "./includes/template.html" %}

{% block content %}
    <div class="govuk-width-container">

          <div class="govuk-breadcrumbs govuk-!-margin-top-6">

              <a href="/v19/list-declined-support" class="govuk-back-link">Back to 'Do not want support' list</a>

          </div>
          <main class="govuk-main-wrapper">


              <div class="header-with-link">
                  <span class="govuk-caption-m">Prisoner number: AB124BD</span>
                  <h1 class="govuk-heading-l">Daniel Hall's work readiness profile </h1>

                  <strong class="govuk-tag govuk-tag--red">
                  declined support
                  </strong>

                  <!-- <p class="govuk-body govuk-!-margin-top-2"><a href="/v19/confirm-change-status" class="govuk-link govuk-link--no-visited-state">Change status</a></p> -->

              </div>

              <nav class="moj-sub-navigation govuk-!-margin-top-6" aria-label="Sub navigation">

                <ul class="moj-sub-navigation__list">
                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="#">Overview</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/declined-support/case-work-readiness-personal-details">Personal details</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/declined-support/case-work-readiness-skills">Skills and activities</a>
                  </li>

                  <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="/v19/profile/declined-support/case-work-readiness-contacts">Contacts</a>
                  </li>

                  <!-- <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="#">Sentence and release</a>
                  </li> -->


                </ul>

              </nav>

              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">


                  <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Overview</h1>

                  </div>
                </div>

                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">

                  <!-- <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Support needed
                      </h2>

                      <div class="app-summary-card__actions">
                          <a class="govuk-link govuk-link--no-visited-state" href="#">
                            Change</a>
                      </div>

                    </header>
                    <div class="app-summary-card__body">



                        <p class="govuk-body">Kevin needs help with:</p>
                          <ul class="govuk-list govuk-list--bullet">
                            <li>writing a CV and covering letter</li>
                            <li>sorting housing for release</li>
                          </ul>


        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last Changed on 1 March 2022
          </p>
                    </div>
                  </section> -->


                  <section class="app-summary-card govuk-!-margin-bottom-6 app-summary-card--large-title">
                    <header class="app-summary-card__header">

                      <h2 class="app-summary-card__title">
                        Eligibility for support
                      </h2>

                    </header>
                    <div class="app-summary-card__body">

                      <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the right to work in the UK
            </dt>

            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> previous application number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Wants support to get work
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reasons for declining support
            </dt>
            <dd class="govuk-summary-list__value">
              Lacks confidence in their ablility to get a job
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Changes needed to make them want support
            </dt>
            <dd class="govuk-summary-list__value">
              Housing sorted for release <br>
              Support to manage a drugs or alcohol dependency
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>
        </dl>

        <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
            Last updated on 11 January 2022
          </p>

                    </div>
                  </section>




                </div>

                <div class="govuk-grid-column-one-third">

                  <aside class="app-related-items" role="complementary">
                    <h2 class="govuk-heading-m" id="subsection-title">
                    Expected release date
                    </h2>


                  <!-- <div class="app-card--grey">
                  <h3 class="govuk-heading-s app-card--grey" style="padding-top: 10px; padding-left:10px;">Expected release date</h3>
                  <p class="govuk-body app-card--grey" style="padding-left:10px; padding-bottom:10px;">1 September 2022</p>
                </div> -->

                <!-- <h3 class="govuk-heading-s">Expected release date</h3> -->
                <p class="govuk-body">1 June 2022</p>

                <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">View sentence and release details (opens in a new tab)</a></p>

                <h2 class="govuk-heading-m" id="subsection-title">
                Release area
                </h2>

                <p class="govuk-body">Manchester</p>

                  <!-- <h3 class="govuk-heading-s">Release area</h3>
                  <p class="govuk-body">Leeds</p> -->


                </aside>
              </div>


        </div>
    </div>
      </main>

{% endblock %}
